/* ========== Chart Styles ========== */

/* ======================================================================================================== Chart 영역*/
.gi-chart-pie {
    width: 100%;
    height: 100%;
}

