/* ========== Menubar Styles ========== */

/* ======================================================================================================== Menubar 메뉴 영역*/
#menu>li {
    border-bottom: 1px solid transparent;
    transition: .5s linear;
}

#menu>li:hover {
    border-bottom: 1px solid #ffffff;
}

#gi-sub-menu>li>ul>li>a {
    border-bottom: 1px solid transparent;
    transition: .5s linear;
}

#gi-sub-menu>li>ul>li:hover>a {
    border-bottom: 1px solid #000000;
}

.gi-menubar-header {
    width: 90%;
    min-height: 50px;
    max-height: 65px;
    height: calc(var(--height-100vh) - 96vh);
    background-color: var(--main-background-header-color);
    border-radius: var(--border-radius-header);
    margin: 2% 0 2% 0;
    padding: 15px;
    box-sizing: border-box;
}

.gi-menubar {
    width: 80%;
}

.gi-menubar-btn {
    border: none;
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    width: 25px;
    height: 25px;
}

/** test 용도 추가 **/
.gi-menubar-header2 {
    width: 85%;
    min-height: 50px;
    max-height: 65px;
    height: calc(var(--height-100vh) - 96vh);
    background-color: var(--main-background-header-color);
    border-radius: var(--border-radius-header);
    margin: 2% 0 2% 0;
    padding: 15px;
    box-sizing: border-box;
}

.pageLoad {
    color: #000000;
    text-decoration: none;
}

.menu-open {
    color: #ffffff;
    text-decoration: none;
}



.gi-menu-sub {
    background-color: #FFFFFF00;
    border-radius: 0px 0px 10px 10px;
    padding: 30px 30px 30px 0px;
    box-sizing: border-box;
    /*box-shadow: 1px 1px 10px #8c8c8c5e;*/
    box-shadow: 1px 1px 10px #0e00615e;
    backdrop-filter: blur(5px);
}

.gi-menu-sub-title {
    font-size: 18px;
    font-weight: bold;
}

#gi-sub-menu,
#gi-sub-menu>li {
    animation: color-animation .5s cubic-bezier(.8, 0, .33, 1);
}

#gi-sub-menu {
    z-index: 9999;
    min-height: 100px;
}

#gi-sub-menu[data-display-hidden="false"] {
    animation: background-slide-out .5s cubic-bezier(.8, 0, .33, 1);
    transform-origin: top;
    transform: scaleY(0);
}

#gi-sub-menu[data-display-hidden="true"] {
    display: flex;
    transform-origin: top;
    animation: background-slide-in .5s cubic-bezier(.8, 0, .33, 1);
}

