/* ========== Typography Styles ========== */

/* ========================================================================================================  Font 폰트 영역*/
.gi-font-size-1px {
    font-size: 1px;
}

.gi-font-size-11px {
    font-size: 11px;
}

.gi-font-size-21px {
    font-size: 21px;
}

.gi-font-size-2px {
    font-size: 2px;
}

.gi-font-size-12px {
    font-size: 12px;
}

.gi-font-size-22px {
    font-size: 22px;
}

.gi-font-size-3px {
    font-size: 3px;
}

.gi-font-size-13px {
    font-size: 13px;
}

.gi-font-size-23px {
    font-size: 23px;
}

.gi-font-size-4px {
    font-size: 4px;
}

.gi-font-size-14px {
    font-size: 14px;
}

.gi-font-size-24px {
    font-size: 24px;
}

.gi-font-size-5px {
    font-size: 5px;
}

.gi-font-size-15px {
    font-size: 15px;
}

.gi-font-size-25px {
    font-size: 25px;
}

.gi-font-size-6px {
    font-size: 6px;
}

.gi-font-size-16px {
    font-size: 16px;
}

.gi-font-size-26px {
    font-size: 26px;
}

.gi-font-size-7px {
    font-size: 7px;
}

.gi-font-size-17px {
    font-size: 17px;
}

.gi-font-size-27px {
    font-size: 27px;
}

.gi-font-size-8px {
    font-size: 8px;
}

.gi-font-size-18px {
    font-size: 18px;
}

.gi-font-size-28px {
    font-size: 28px;
}

.gi-font-size-9px {
    font-size: 9px;
}

.gi-font-size-19px {
    font-size: 19px;
}

.gi-font-size-29px {
    font-size: 29px;
}

.gi-font-size-10px {
    font-size: 10px;
}

.gi-font-size-20px {
    font-size: 20px;
}

.gi-font-size-30px {
    font-size: 30px;
}

