server:
  port: 8080 

spring:
  application:
    name: vims-gateway
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: Asia/Seoul
  cloud:
    gateway:
      default-filters :
        - AuthorizationHeader
      routes:
        # 1. 로그인 서비스 (호스트 매핑 포트 9081)
        - id: vims-login-route-group
          uri: http://host.containers.internal:9081
          predicates:
            - Path=/common/**, /assets/**, /, /login/**, /api/v1/auth/**
          filters:
            - AddRequestHeader=X-Source, Gateway

        # 2. 파일관리시스템(FMS) 서비스 (호스트 매핑 포트 9083)
        - id: vims-fms-api-route
          uri: http://host.containers.internal:9083
          predicates:
            - Path=/fms/**
          filters:
            - AddRequestHeader=X-Source, Gateway

        # 3. 시스템관리(Management) 서비스 (호스트 매핑 포트 9082) - CMS 관련
        - id: vims-management-route
          uri: http://host.containers.internal:9082
          predicates:
            - Path=/cms/**
          filters:
            - AddRequestHeader=X-Source, Gateway
            - name: RewriteLocationResponseHeader
              args:
                name: Location
                rewrite-uri: http://210.168.92.92:2000/

        # 4. 대국민 웹 서비스 (호스트 매핑 포트 9084)
        - id: vims-web-app-route
          uri: http://host.containers.internal:9084
          predicates:
            - Path=/web/**
          filters:
            - AddRequestHeader=X-Source, Gateway
            - name: RewriteLocationResponseHeader
              args:
                name: Location
                rewrite-uri: http://210.168.92.92:2000/

token:
  secret: YeyKgN7Oa0dfKJCR0Xr3Sp45WdU8BCv2Zd0X6KxRTfFgfPZ3MH3xccjC3WCt90Az

gateway:
  api-key: vims-internal-secret-key-1234