<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vims.common.accessgroupmenu.SysAccsGroupMenuMapper">
    <sql id="sortFilter">
        ORDER BY
        <choose>
            <when test="sort_id != null and sort_order != null">
                ${sort_id} ${sort_order}
            </when>
            <otherwise>
                sub.no ASC
            </otherwise>
        </choose>
    </sql>

    <select id="SELECT_PAGE" resultType="com.vims.common.accessgroupmenu.SysAccsGroupMenu">
        SELECT * FROM (
            SELECT
                row_number() over (ORDER BY sys_crt_dt DESC )AS no,
                
                menu_cd, 
                acs_rts_grp_id, 
                sys_crt_dt, 
                sys_crt_usr_id, 
                sys_upd_dt, 
                sys_upd_usr_id 
            FROM SYS_ACS_GRP_MENU
            <where>
                
                <if test="menu_cd != null and menu_cd != ''">AND menu_cd = #{menu_cd}</if>
                <if test="acs_rts_grp_id != null and acs_rts_grp_id != ''">AND acs_rts_grp_id = #{acs_rts_grp_id}</if>
                <if test="sys_crt_dt != null">AND sys_crt_dt = #{sys_crt_dt}</if>
                <if test="sys_crt_usr_id != null and sys_crt_usr_id != ''">AND sys_crt_usr_id = #{sys_crt_usr_id}</if>
                <if test="sys_upd_dt != null">AND sys_upd_dt = #{sys_upd_dt}</if>
                <if test="sys_upd_usr_id != null and sys_upd_usr_id != ''">AND sys_upd_usr_id = #{sys_upd_usr_id}</if>
                
                <if test="_menu_cd != null and _menu_cd != ''">AND menu_cd LIKE CONCAT('%', #{_menu_cd}, '%')</if>
                <if test="_acs_rts_grp_id != null and _acs_rts_grp_id != ''">AND acs_rts_grp_id LIKE CONCAT('%', #{_acs_rts_grp_id}, '%')</if>
                <if test="_sys_crt_dt != null and _sys_crt_dt != ''">AND sys_crt_dt LIKE CONCAT('%', #{_sys_crt_dt}, '%')</if>
                <if test="_sys_crt_usr_id != null and _sys_crt_usr_id != ''">AND sys_crt_usr_id LIKE CONCAT('%', #{_sys_crt_usr_id}, '%')</if>
                <if test="_sys_upd_dt != null and _sys_upd_dt != ''">AND sys_upd_dt LIKE CONCAT('%', #{_sys_upd_dt}, '%')</if>
                <if test="_sys_upd_usr_id != null and _sys_upd_usr_id != ''">AND sys_upd_usr_id LIKE CONCAT('%', #{_sys_upd_usr_id}, '%')</if>
            </where>
        ) AS sub
        <include refid="sortFilter"/>
        LIMIT #{row_range} OFFSET #{offset}
    </select>

    <select id="SELECT_PAGING_TOTAL_NUMBER" resultType="int">
        SELECT CEIL(COUNT(*) / #{row_range}) FROM SYS_ACS_GRP_MENU
        <where>
            
            <if test="menu_cd != null and menu_cd != ''">AND menu_cd = #{menu_cd}</if>
            <if test="acs_rts_grp_id != null and acs_rts_grp_id != ''">AND acs_rts_grp_id = #{acs_rts_grp_id}</if>
            <if test="sys_crt_dt != null">AND sys_crt_dt = #{sys_crt_dt}</if>
            <if test="sys_crt_usr_id != null and sys_crt_usr_id != ''">AND sys_crt_usr_id = #{sys_crt_usr_id}</if>
            <if test="sys_upd_dt != null">AND sys_upd_dt = #{sys_upd_dt}</if>
            <if test="sys_upd_usr_id != null and sys_upd_usr_id != ''">AND sys_upd_usr_id = #{sys_upd_usr_id}</if>
            
            <if test="_menu_cd != null and _menu_cd != ''">AND menu_cd LIKE CONCAT('%', #{_menu_cd}, '%')</if>
            <if test="_acs_rts_grp_id != null and _acs_rts_grp_id != ''">AND acs_rts_grp_id LIKE CONCAT('%', #{_acs_rts_grp_id}, '%')</if>
            <if test="_sys_crt_dt != null and _sys_crt_dt != ''">AND sys_crt_dt LIKE CONCAT('%', #{_sys_crt_dt}, '%')</if>
            <if test="_sys_crt_usr_id != null and _sys_crt_usr_id != ''">AND sys_crt_usr_id LIKE CONCAT('%', #{_sys_crt_usr_id}, '%')</if>
            <if test="_sys_upd_dt != null and _sys_upd_dt != ''">AND sys_upd_dt LIKE CONCAT('%', #{_sys_upd_dt}, '%')</if>
            <if test="_sys_upd_usr_id != null and _sys_upd_usr_id != ''">AND sys_upd_usr_id LIKE CONCAT('%', #{_sys_upd_usr_id}, '%')</if>
        </where>
    </select>

    <select id="SELECT" resultType="com.vims.common.accessgroupmenu.SysAccsGroupMenu">
        SELECT
            
            menu_cd,
            acs_rts_grp_id,
            sys_crt_dt,
            sys_crt_usr_id,
            sys_upd_dt,
            sys_upd_usr_id
        FROM SYS_ACS_GRP_MENU
        <where>
            
            <if test="menu_cd != null and menu_cd != ''">AND menu_cd = #{menu_cd}</if>
            <if test="acs_rts_grp_id != null and acs_rts_grp_id != ''">AND acs_rts_grp_id = #{acs_rts_grp_id}</if>
            <if test="sys_crt_dt != null">AND sys_crt_dt = #{sys_crt_dt}</if>
            <if test="sys_crt_usr_id != null and sys_crt_usr_id != ''">AND sys_crt_usr_id = #{sys_crt_usr_id}</if>
            <if test="sys_upd_dt != null">AND sys_upd_dt = #{sys_upd_dt}</if>
            <if test="sys_upd_usr_id != null and sys_upd_usr_id != ''">AND sys_upd_usr_id = #{sys_upd_usr_id}</if>
            
            <if test="_menu_cd != null and _menu_cd != ''">AND menu_cd LIKE CONCAT('%', #{_menu_cd}, '%')</if>
            <if test="_acs_rts_grp_id != null and _acs_rts_grp_id != ''">AND acs_rts_grp_id LIKE CONCAT('%', #{_acs_rts_grp_id}, '%')</if>
            <if test="_sys_crt_dt != null and _sys_crt_dt != ''">AND sys_crt_dt LIKE CONCAT('%', #{_sys_crt_dt}, '%')</if>
            <if test="_sys_crt_usr_id != null and _sys_crt_usr_id != ''">AND sys_crt_usr_id LIKE CONCAT('%', #{_sys_crt_usr_id}, '%')</if>
            <if test="_sys_upd_dt != null and _sys_upd_dt != ''">AND sys_upd_dt LIKE CONCAT('%', #{_sys_upd_dt}, '%')</if>
            <if test="_sys_upd_usr_id != null and _sys_upd_usr_id != ''">AND sys_upd_usr_id LIKE CONCAT('%', #{_sys_upd_usr_id}, '%')</if>
        </where>
    </select>

    <insert id="INSERT">
        INSERT INTO SYS_ACS_GRP_MENU(
            
             menu_cd 
            , acs_rts_grp_id 
            
            <if test="sys_crt_dt != null">, sys_crt_dt</if>
            <if test="sys_crt_usr_id != null">, sys_crt_usr_id</if>
            <if test="sys_upd_dt != null">, sys_upd_dt</if>
            <if test="sys_upd_usr_id != null">, sys_upd_usr_id</if>
        )
        VALUES(
            
             #{menu_cd}
            , #{acs_rts_grp_id}
            
            <if test="sys_crt_dt != null">, #{sys_crt_dt}</if>
            <if test="sys_crt_usr_id != null">, #{sys_crt_usr_id}</if>
            <if test="sys_upd_dt != null">, #{sys_upd_dt}</if>
            <if test="sys_upd_usr_id != null">, #{sys_upd_usr_id}</if>
        )
    </insert>

    <delete id="DELETE">
        DELETE FROM SYS_ACS_GRP_MENU
        <where>
            
             menu_cd = #{menu_cd}
            AND acs_rts_grp_id = #{acs_rts_grp_id}
            
            <if test="sys_crt_dt != null">AND sys_crt_dt = #{sys_crt_dt}</if>
            <if test="sys_crt_usr_id != null">AND sys_crt_usr_id = #{sys_crt_usr_id}</if>
            <if test="sys_upd_dt != null">AND sys_upd_dt = #{sys_upd_dt}</if>
            <if test="sys_upd_usr_id != null">AND sys_upd_usr_id = #{sys_upd_usr_id}</if>
        </where>
    </delete>

    <update id="UPDATE">
        UPDATE SYS_ACS_GRP_MENU
        <set>
            
            <if test="sys_crt_dt != null">,sys_crt_dt = #{sys_crt_dt}</if>
            <if test="sys_crt_usr_id != null">,sys_crt_usr_id = #{sys_crt_usr_id}</if>
            <if test="sys_upd_dt != null">,sys_upd_dt = #{sys_upd_dt}</if>
            <if test="sys_upd_usr_id != null">,sys_upd_usr_id = #{sys_upd_usr_id}</if>
        </set>
        <where>
            
             menu_cd = #{menu_cd}
            AND acs_rts_grp_id = #{acs_rts_grp_id}
        </where>
    </update>
</mapper>