<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vims.common.bbs.SysBbsBoardMapper">
    <sql id="sortFilter">
        ORDER BY
        <choose>
            <when test="sort_id != null and sort_order != null">
                ${sort_id} ${sort_order}
            </when>
            <otherwise>
                sys_crt_dt DESC
            </otherwise>
        </choose>
    </sql>

    <select id="SELECT_PAGE" resultType="com.vims.common.bbs.SysBbsBoard">
        SELECT * FROM (
            SELECT
                row_number() over (ORDER BY sys_crt_dt DESC ) AS no,
                board_id,
                bbs_id,
                title,
                content,
                wrtr_nm,
                hit_cnt,
                file_uuid,
                thmbnl,
                (SELECT COUNT(*) FROM SYS_BBS_RPLY WHERE SYS_BBS_RPLY.board_id = SYS_BBS_BRD.board_id) AS reply_count,
                sys_crt_usr_id,
                sys_crt_dt,
                sys_upd_usr_id,
                sys_upd_dt
            FROM SYS_BBS_BRD
            <where>
                <if test="bbs_id != null and bbs_id != ''">AND bbs_id = #{bbs_id}</if>
                <if test="board_id != null and board_id != ''">AND board_id = #{board_id}</if>
                <if test="_title != null and _title != ''">AND title LIKE CONCAT('%', #{_title}, '%')</if>
            </where>
        ) AS sub
        <include refid="sortFilter"/>
        LIMIT #{row_range} OFFSET #{offset}
    </select>

    <select id="SELECT_PAGING_TOTAL_NUMBER" resultType="int">
        SELECT CEIL(COUNT(*) / #{row_range}) FROM SYS_BBS_BRD
        <where>
            <if test="bbs_id != null and bbs_id != ''">AND bbs_id = #{bbs_id}</if>
            <if test="_title != null and _title != ''">AND title LIKE CONCAT('%', #{_title}, '%')</if>
        </where>
    </select>

    <select id="SELECT_TOTAL_COUNT" resultType="int">
        SELECT COUNT(*) FROM SYS_BBS_BRD
        <where>
            <if test="bbs_id != null and bbs_id != ''">AND bbs_id = #{bbs_id}</if>
            <if test="_title != null and _title != ''">AND title LIKE CONCAT('%', #{_title}, '%')</if>
        </where>
    </select>

    <select id="SELECT" resultType="com.vims.common.bbs.SysBbsBoard">
        SELECT
            board_id, bbs_id, title, content, wrtr_nm, hit_cnt, file_uuid, thmbnl,
            sys_crt_usr_id, sys_crt_dt, sys_upd_usr_id, sys_upd_dt
        FROM SYS_BBS_BRD
        <where>
            <if test="board_id != null and board_id != ''">AND board_id = #{board_id}</if>
            <if test="bbs_id != null and bbs_id != ''">AND bbs_id = #{bbs_id}</if>
        </where>
    </select>

    <insert id="INSERT">
        INSERT INTO SYS_BBS_BRD(
            board_id, bbs_id, title, content, wrtr_nm, hit_cnt, file_uuid, thmbnl,
            sys_crt_usr_id, sys_crt_dt, sys_upd_usr_id, sys_upd_dt
        )
        VALUES(
            #{board_id}, #{bbs_id}, #{title}, #{content}, #{wrtr_nm}, 0, #{file_uuid}, #{thmbnl},
            #{sys_crt_usr_id}, NOW(), #{sys_upd_usr_id}, NOW()
        )
    </insert>

    <update id="UPDATE">
        UPDATE SYS_BBS_BRD
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="wrtr_nm != null">wrtr_nm = #{wrtr_nm},</if>
            <if test="hit_cnt != 0">hit_cnt = #{hit_cnt},</if>
            <if test="file_uuid != null">file_uuid = #{file_uuid},</if>
            <if test="thmbnl != null">thmbnl = #{thmbnl},</if>
            sys_upd_usr_id = #{sys_upd_usr_id},
            sys_upd_dt = NOW()
        </set>
        <where>
            AND board_id = #{board_id}
        </where>
    </update>

    <update id="INCREMENT_HIT_CNT">
        UPDATE SYS_BBS_BRD
        SET hit_cnt = hit_cnt + 1
        WHERE board_id = #{board_id}
    </update>

    <delete id="DELETE">
        DELETE FROM SYS_BBS_BRD WHERE board_id = #{board_id}
    </delete>
</mapper>
