<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vims.common.bbs.SysBbsBoardMapper">
    <sql id="sortFilter">
        ORDER BY
        <choose>
            <when test="sort_id != null and sort_order != null">
                ${sort_id} ${sort_order}
            </when>
            <otherwise>
                system_create_date DESC
            </otherwise>
        </choose>
    </sql>

    <select id="SELECT_PAGE" resultType="com.vims.common.bbs.SysBbsBoard">
        SELECT * FROM (
            SELECT
                row_number() over (ORDER BY system_create_date DESC ) AS no,
                board_id,
                bbs_id,
                title,
                content,
                writer_name,
                hit_count,
                file_uuid,
                thumbnail,
                (SELECT COUNT(*) FROM SYS_BBS_REPLY WHERE SYS_BBS_REPLY.board_id = SYS_BBS_BOARD.board_id) AS reply_count,
                system_create_userid,
                system_create_date,
                system_update_userid,
                system_update_date
            FROM SYS_BBS_BOARD
            <where>
                <if test="bbs_id != null and bbs_id != ''">AND bbs_id = #{bbs_id}</if>
                <if test="board_id != null and board_id != ''">AND board_id = #{board_id}</if>
                <if test="_title != null and _title != ''">AND title LIKE CONCAT('%', #{_title}, '%')</if>
            </where>
        ) AS sub
        <include refid="sortFilter"/>
        LIMIT #{row_range} OFFSET #{offset}
    </select>

    <select id="SELECT_PAGING_TOTAL_NUMBER" resultType="int">
        SELECT CEIL(COUNT(*) / #{row_range}) FROM SYS_BBS_BOARD
        <where>
            <if test="bbs_id != null and bbs_id != ''">AND bbs_id = #{bbs_id}</if>
            <if test="_title != null and _title != ''">AND title LIKE CONCAT('%', #{_title}, '%')</if>
        </where>
    </select>

    <select id="SELECT_TOTAL_COUNT" resultType="int">
        SELECT COUNT(*) FROM SYS_BBS_BOARD
        <where>
            <if test="bbs_id != null and bbs_id != ''">AND bbs_id = #{bbs_id}</if>
            <if test="_title != null and _title != ''">AND title LIKE CONCAT('%', #{_title}, '%')</if>
        </where>
    </select>

    <select id="SELECT" resultType="com.vims.common.bbs.SysBbsBoard">
        SELECT
            board_id, bbs_id, title, content, writer_name, hit_count, file_uuid, thumbnail,
            system_create_userid, system_create_date, system_update_userid, system_update_date
        FROM SYS_BBS_BOARD
        <where>
            <if test="board_id != null and board_id != ''">AND board_id = #{board_id}</if>
            <if test="bbs_id != null and bbs_id != ''">AND bbs_id = #{bbs_id}</if>
        </where>
    </select>

    <insert id="INSERT">
        INSERT INTO SYS_BBS_BOARD(
            board_id, bbs_id, title, content, writer_name, hit_count, file_uuid, thumbnail,
            system_create_userid, system_create_date, system_update_userid, system_update_date
        )
        VALUES(
            #{board_id}, #{bbs_id}, #{title}, #{content}, #{writer_name}, 0, #{file_uuid}, #{thumbnail},
            #{system_create_userid}, NOW(), #{system_update_userid}, NOW()
        )
    </insert>

    <update id="UPDATE">
        UPDATE SYS_BBS_BOARD
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="writer_name != null">writer_name = #{writer_name},</if>
            <if test="hit_count != 0">hit_count = #{hit_count},</if>
            <if test="file_uuid != null">file_uuid = #{file_uuid},</if>
            <if test="thumbnail != null">thumbnail = #{thumbnail},</if>
            system_update_userid = #{system_update_userid},
            system_update_date = NOW()
        </set>
        <where>
            AND board_id = #{board_id}
        </where>
    </update>

    <update id="INCREMENT_HIT_COUNT">
        UPDATE SYS_BBS_BOARD
        SET hit_count = hit_count + 1
        WHERE board_id = #{board_id}
    </update>

    <delete id="DELETE">
        DELETE FROM SYS_BBS_BOARD WHERE board_id = #{board_id}
    </delete>
</mapper>
