<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vims.common.code.SysCodeMapper">
    <sql id="sortFilter">
        ORDER BY
        <choose>
            <when test="sort_id != null and sort_order != null">
                ${sort_id} ${sort_order}
            </when>
            <otherwise>
                sys_crt_dt DESC
            </otherwise>
        </choose>
    </sql>

    <select id="SELECT_PAGE" resultType="com.vims.common.code.SysCode">
        SELECT
            row_number() over (ORDER BY sys_crt_dt DESC )AS no,
            cd_id, 
            grp_id, 
            cd_nm, 
            cd_no, 
            use_yn, 
            sys_crt_dt, 
            sys_crt_usr_id, 
            sys_upd_dt, 
            sys_upd_usr_id 
        FROM SYS_CD
        <where>
            
            <if test="cd_id != null and cd_id != ''">AND cd_id = #{cd_id}</if>
            <if test="grp_id != null and grp_id != ''">AND grp_id = #{grp_id}</if>
            <if test="cd_nm != null and cd_nm != ''">AND cd_nm = #{cd_nm}</if>
            <if test="cd_no != null and cd_no != ''">AND cd_no = #{cd_no}</if>
            <if test="use_yn != null and use_yn != ''">AND use_yn = #{use_yn}</if>
            <if test="sys_crt_dt != null">AND sys_crt_dt = #{sys_crt_dt}</if>
            <if test="sys_crt_usr_id != null and sys_crt_usr_id != ''">AND sys_crt_usr_id = #{sys_crt_usr_id}</if>
            <if test="sys_upd_dt != null">AND sys_upd_dt = #{sys_upd_dt}</if>
            <if test="sys_upd_usr_id != null and sys_upd_usr_id != ''">AND sys_upd_usr_id = #{sys_upd_usr_id}</if>
            
            <if test="_cd_id != null and _cd_id != ''">AND cd_id LIKE CONCAT('%', #{_cd_id}, '%')</if>
            <if test="_grp_id != null and _grp_id != ''">AND grp_id LIKE CONCAT('%', #{_grp_id}, '%')</if>
            <if test="_cd_nm != null and _cd_nm != ''">AND cd_nm LIKE CONCAT('%', #{_cd_nm}, '%')</if>
            <if test="_cd_no != null and _cd_no != ''">AND cd_no LIKE CONCAT('%', #{_cd_no}, '%')</if>
            <if test="_use_yn != null and _use_yn != ''">AND use_yn LIKE CONCAT('%', #{_use_yn}, '%')</if>
            <if test="_sys_crt_dt != null and _sys_crt_dt != ''">AND sys_crt_dt LIKE CONCAT('%', #{_sys_crt_dt}, '%')</if>
            <if test="_sys_crt_usr_id != null and _sys_crt_usr_id != ''">AND sys_crt_usr_id LIKE CONCAT('%', #{_sys_crt_usr_id}, '%')</if>
            <if test="_sys_upd_dt != null and _sys_upd_dt != ''">AND sys_upd_dt LIKE CONCAT('%', #{_sys_upd_dt}, '%')</if>
            <if test="_sys_upd_usr_id != null and _sys_upd_usr_id != ''">AND sys_upd_usr_id LIKE CONCAT('%', #{_sys_upd_usr_id}, '%')</if>
        </where>
        <include refid="sortFilter"/>
        LIMIT #{row_range} OFFSET #{offset}
    </select>

    <select id="SELECT_PAGING_TOTAL_NUMBER" resultType="int">
        SELECT CEIL(COUNT(*) / #{row_range}) FROM SYS_CD
        <where>
            
            <if test="cd_id != null and cd_id != ''">AND cd_id = #{cd_id}</if>
            <if test="grp_id != null and grp_id != ''">AND grp_id = #{grp_id}</if>
            <if test="cd_nm != null and cd_nm != ''">AND cd_nm = #{cd_nm}</if>
            <if test="cd_no != null and cd_no != ''">AND cd_no = #{cd_no}</if>
            <if test="use_yn != null and use_yn != ''">AND use_yn = #{use_yn}</if>
            <if test="sys_crt_dt != null">AND sys_crt_dt = #{sys_crt_dt}</if>
            <if test="sys_crt_usr_id != null and sys_crt_usr_id != ''">AND sys_crt_usr_id = #{sys_crt_usr_id}</if>
            <if test="sys_upd_dt != null">AND sys_upd_dt = #{sys_upd_dt}</if>
            <if test="sys_upd_usr_id != null and sys_upd_usr_id != ''">AND sys_upd_usr_id = #{sys_upd_usr_id}</if>
            
            <if test="_cd_id != null and _cd_id != ''">AND cd_id LIKE CONCAT('%', #{_cd_id}, '%')</if>
            <if test="_grp_id != null and _grp_id != ''">AND grp_id LIKE CONCAT('%', #{_grp_id}, '%')</if>
            <if test="_cd_nm != null and _cd_nm != ''">AND cd_nm LIKE CONCAT('%', #{_cd_nm}, '%')</if>
            <if test="_cd_no != null and _cd_no != ''">AND cd_no LIKE CONCAT('%', #{_cd_no}, '%')</if>
            <if test="_use_yn != null and _use_yn != ''">AND use_yn LIKE CONCAT('%', #{_use_yn}, '%')</if>
            <if test="_sys_crt_dt != null and _sys_crt_dt != ''">AND sys_crt_dt LIKE CONCAT('%', #{_sys_crt_dt}, '%')</if>
            <if test="_sys_crt_usr_id != null and _sys_crt_usr_id != ''">AND sys_crt_usr_id LIKE CONCAT('%', #{_sys_crt_usr_id}, '%')</if>
            <if test="_sys_upd_dt != null and _sys_upd_dt != ''">AND sys_upd_dt LIKE CONCAT('%', #{_sys_upd_dt}, '%')</if>
            <if test="_sys_upd_usr_id != null and _sys_upd_usr_id != ''">AND sys_upd_usr_id LIKE CONCAT('%', #{_sys_upd_usr_id}, '%')</if>
        </where>
    </select>

    <select id="SELECT" resultType="com.vims.common.code.SysCode">
        SELECT
            
            cd_id,
            grp_id,
            cd_nm,
            cd_no,
            use_yn,
            sys_crt_dt,
            sys_crt_usr_id,
            sys_upd_dt,
            sys_upd_usr_id
        FROM SYS_CD
        <where>

            <if test="cd_id != null and cd_id != ''">AND cd_id = #{cd_id}</if>
            <if test="grp_id != null and grp_id != ''">AND grp_id = #{grp_id}</if>
            <if test="cd_nm != null and cd_nm != ''">AND cd_nm = #{cd_nm}</if>
            <if test="cd_no != null and cd_no != ''">AND cd_no = #{cd_no}</if>
            <if test="use_yn != null and use_yn != ''">AND use_yn = #{use_yn}</if>
            <if test="sys_crt_dt != null">AND sys_crt_dt = #{sys_crt_dt}</if>
            <if test="sys_crt_usr_id != null and sys_crt_usr_id != ''">AND sys_crt_usr_id = #{sys_crt_usr_id}</if>
            <if test="sys_upd_dt != null">AND sys_upd_dt = #{sys_upd_dt}</if>
            <if test="sys_upd_usr_id != null and sys_upd_usr_id != ''">AND sys_upd_usr_id = #{sys_upd_usr_id}</if>

            <if test="_cd_id != null and _cd_id != ''">AND cd_id LIKE CONCAT('%', #{_cd_id}, '%')</if>
            <if test="_grp_id != null and _grp_id != ''">AND grp_id LIKE CONCAT('%', #{_grp_id}, '%')</if>
            <if test="_cd_nm != null and _cd_nm != ''">AND cd_nm LIKE CONCAT('%', #{_cd_nm}, '%')</if>
            <if test="_cd_no != null and _cd_no != ''">AND cd_no LIKE CONCAT('%', #{_cd_no}, '%')</if>
            <if test="_use_yn != null and _use_yn != ''">AND use_yn LIKE CONCAT('%', #{_use_yn}, '%')</if>
            <if test="_sys_crt_dt != null and _sys_crt_dt != ''">AND sys_crt_dt LIKE CONCAT('%', #{_sys_crt_dt}, '%')</if>
            <if test="_sys_crt_usr_id != null and _sys_crt_usr_id != ''">AND sys_crt_usr_id LIKE CONCAT('%', #{_sys_crt_usr_id}, '%')</if>
            <if test="_sys_upd_dt != null and _sys_upd_dt != ''">AND sys_upd_dt LIKE CONCAT('%', #{_sys_upd_dt}, '%')</if>
            <if test="_sys_upd_usr_id != null and _sys_upd_usr_id != ''">AND sys_upd_usr_id LIKE CONCAT('%', #{_sys_upd_usr_id}, '%')</if>
        </where>
    </select>

    <insert id="INSERT">
        INSERT INTO SYS_CD(
            
             cd_id 
            , grp_id 
            
            <if test="cd_nm != null">, cd_nm</if>
            <if test="cd_no != null">, cd_no</if>
            <if test="use_yn != null">, use_yn</if>
            <if test="sys_crt_dt != null">, sys_crt_dt</if>
            <if test="sys_crt_usr_id != null">, sys_crt_usr_id</if>
            <if test="sys_upd_dt != null">, sys_upd_dt</if>
            <if test="sys_upd_usr_id != null">, sys_upd_usr_id</if>
        )
        VALUES(
            
             #{cd_id}
            , #{grp_id}
            
            <if test="cd_nm != null">, #{cd_nm}</if>
            <if test="cd_no != null">, #{cd_no}</if>
            <if test="use_yn != null">, #{use_yn}</if>
            <if test="sys_crt_dt != null">, #{sys_crt_dt}</if>
            <if test="sys_crt_usr_id != null">, #{sys_crt_usr_id}</if>
            <if test="sys_upd_dt != null">, #{sys_upd_dt}</if>
            <if test="sys_upd_usr_id != null">, #{sys_upd_usr_id}</if>
        )
    </insert>

    <delete id="DELETE">
        DELETE FROM SYS_CD
        <where>
            
             cd_id = #{cd_id}
            AND grp_id = #{grp_id}
            
            <if test="cd_nm != null">AND cd_nm = #{cd_nm}</if>
            <if test="cd_no != null">AND cd_no = #{cd_no}</if>
            <if test="use_yn != null">AND use_yn = #{use_yn}</if>
            <if test="sys_crt_dt != null">AND sys_crt_dt = #{sys_crt_dt}</if>
            <if test="sys_crt_usr_id != null">AND sys_crt_usr_id = #{sys_crt_usr_id}</if>
            <if test="sys_upd_dt != null">AND sys_upd_dt = #{sys_upd_dt}</if>
            <if test="sys_upd_usr_id != null">AND sys_upd_usr_id = #{sys_upd_usr_id}</if>
        </where>
    </delete>

    <update id="UPDATE">
        UPDATE SYS_CD
        <set>
            
            <if test="cd_nm != null">,cd_nm = #{cd_nm}</if>
            <if test="cd_no != null">,cd_no = #{cd_no}</if>
            <if test="use_yn != null">,use_yn = #{use_yn}</if>
            <if test="sys_crt_dt != null">,sys_crt_dt = #{sys_crt_dt}</if>
            <if test="sys_crt_usr_id != null">,sys_crt_usr_id = #{sys_crt_usr_id}</if>
            <if test="sys_upd_dt != null">,sys_upd_dt = #{sys_upd_dt}</if>
            <if test="sys_upd_usr_id != null">,sys_upd_usr_id = #{sys_upd_usr_id}</if>
        </set>
        <where>
            
             cd_id = #{cd_id}
            AND grp_id = #{grp_id}
        </where>
    </update>
</mapper>