<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vims.common.icon.SysIconMapper">

    <select id="SELECT_PAGE" resultType="com.vims.common.icon.SysIcon">
        SELECT * FROM (
            SELECT
                row_number() over (ORDER BY icon_cls DESC )AS no,
                
                icon_cd, 
                icon_nm, 
                icon_cls 
            FROM SYS_ICON
            <where>
                
                <if test="icon_cd != null and icon_cd != ''">AND icon_cd = #{icon_cd}</if>
                <if test="icon_nm != null and icon_nm != ''">AND icon_nm = #{icon_nm}</if>
                <if test="icon_cls != null and icon_cls != ''">AND icon_cls = #{icon_cls}</if>
                
                <if test="_icon_cd != null and _icon_cd != ''">AND icon_cd LIKE CONCAT('%', #{_icon_cd}, '%')</if>
                <if test="_icon_nm != null and _icon_nm != ''">AND icon_nm LIKE CONCAT('%', #{_icon_nm}, '%')</if>
                <if test="_icon_cls != null and _icon_cls != ''">AND icon_cls LIKE CONCAT('%', #{_icon_cls}, '%')</if>
            </where>
        ) AS sub
        LIMIT #{row_range} OFFSET #{offset}
    </select>

    <select id="SELECT_PAGING_TOTAL_NUMBER" resultType="int">
        SELECT CEIL(COUNT(*) / #{row_range}) FROM SYS_ICON
        <where>
            
            <if test="icon_cd != null and icon_cd != ''">AND icon_cd = #{icon_cd}</if>
            <if test="icon_nm != null and icon_nm != ''">AND icon_nm = #{icon_nm}</if>
            <if test="icon_cls != null and icon_cls != ''">AND icon_cls = #{icon_cls}</if>
            
            <if test="_icon_cd != null and _icon_cd != ''">AND icon_cd LIKE CONCAT('%', #{_icon_cd}, '%')</if>
            <if test="_icon_nm != null and _icon_nm != ''">AND icon_nm LIKE CONCAT('%', #{_icon_nm}, '%')</if>
            <if test="_icon_cls != null and _icon_cls != ''">AND icon_cls LIKE CONCAT('%', #{_icon_cls}, '%')</if>
        </where>
    </select>

    <select id="SELECT" resultType="com.vims.common.icon.SysIcon">
        SELECT
            
            icon_cd,
            icon_nm,
            icon_cls
        FROM SYS_ICON
        <where>
            
            <if test="icon_cd != null and icon_cd != ''">AND icon_cd = #{icon_cd}</if>
            <if test="icon_nm != null and icon_nm != ''">AND icon_nm = #{icon_nm}</if>
            <if test="icon_cls != null and icon_cls != ''">AND icon_cls = #{icon_cls}</if>
            
            <if test="_icon_cd != null and _icon_cd != ''">AND icon_cd LIKE CONCAT('%', #{_icon_cd}, '%')</if>
            <if test="_icon_nm != null and _icon_nm != ''">AND icon_nm LIKE CONCAT('%', #{_icon_nm}, '%')</if>
            <if test="_icon_cls != null and _icon_cls != ''">AND icon_cls LIKE CONCAT('%', #{_icon_cls}, '%')</if>
        </where>
    </select>

    <insert id="INSERT">
        INSERT INTO SYS_ICON(
            
            
            <if test="icon_cd != null">, icon_cd</if>
            <if test="icon_nm != null">, icon_nm</if>
            <if test="icon_cls != null">, icon_cls</if>
        )
        VALUES(
            
            
            <if test="icon_cd != null">, #{icon_cd}</if>
            <if test="icon_nm != null">, #{icon_nm}</if>
            <if test="icon_cls != null">, #{icon_cls}</if>
        )
    </insert>

    <delete id="DELETE">
        DELETE FROM SYS_ICON
        <where>
            
            
            <if test="icon_cd != null">AND icon_cd = #{icon_cd}</if>
            <if test="icon_nm != null">AND icon_nm = #{icon_nm}</if>
            <if test="icon_cls != null">AND icon_cls = #{icon_cls}</if>
        </where>
    </delete>

    <update id="UPDATE">
        UPDATE SYS_ICON
        <set>
            
            <if test="icon_cd != null and icon_cd != '' ">,icon_cd = #{icon_cd}</if>
            <if test="icon_nm != null and icon_nm != '' ">,icon_nm = #{icon_nm}</if>
            <if test="icon_cls != null and icon_cls != '' ">,icon_cls = #{icon_cls}</if>
        </set>
        <where>
            
        </where>
    </update>
</mapper>