<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vims.common.office.SysOfficeMapper">
    <sql id="sortFilter">
        ORDER BY
        <choose>
            <when test="sort_id != null and sort_order != null">
                ${sort_id} ${sort_order}
            </when>
            <otherwise>
                sub.no ASC
            </otherwise>
        </choose>
    </sql>

    <select id="SELECT_PAGE" resultType="com.vims.common.office.SysOffice">
        SELECT * FROM (
            SELECT
                row_number() over (ORDER BY sys_crt_dt DESC )AS no,
                
                top_offc_cd, 
                offc_nm, 
                offc_cd, 
                offc_type, 
                offc_type_cd, 
                sys_crt_usr_id, 
                sys_crt_dt, 
                sys_upd_usr_id, 
                sys_upd_dt 
            FROM SYS_OFFC
            <where>
                
                <if test="top_offc_cd != null and top_offc_cd != ''">AND top_offc_cd = #{top_offc_cd}</if>
                <if test="offc_nm != null and offc_nm != ''">AND offc_nm = #{offc_nm}</if>
                <if test="offc_cd != null and offc_cd != ''">AND offc_cd = #{offc_cd}</if>
                <if test="offc_type != null and offc_type != ''">AND offc_type = #{offc_type}</if>
                <if test="offc_type_cd != null and offc_type_cd != ''">AND offc_type_cd = #{offc_type_cd}</if>
                <if test="sys_crt_usr_id != null and sys_crt_usr_id != ''">AND sys_crt_usr_id = #{sys_crt_usr_id}</if>
                <if test="sys_crt_dt != null">AND sys_crt_dt = #{sys_crt_dt}</if>
                <if test="sys_upd_usr_id != null and sys_upd_usr_id != ''">AND sys_upd_usr_id = #{sys_upd_usr_id}</if>
                <if test="sys_upd_dt != null">AND sys_upd_dt = #{sys_upd_dt}</if>
                
                <if test="_top_offc_cd != null and _top_offc_cd != ''">AND top_offc_cd LIKE CONCAT('%', #{_top_offc_cd}, '%')</if>
                <if test="_offc_nm != null and _offc_nm != ''">AND offc_nm LIKE CONCAT('%', #{_offc_nm}, '%')</if>
                <if test="_offc_cd != null and _offc_cd != ''">AND offc_cd LIKE CONCAT('%', #{_offc_cd}, '%')</if>
                <if test="_offc_type != null and _offc_type != ''">AND offc_type LIKE CONCAT('%', #{_offc_type}, '%')</if>
                <if test="_offc_type_cd != null and _offc_type_cd != ''">AND offc_type_cd LIKE CONCAT('%', #{_offc_type_cd}, '%')</if>
                <if test="_sys_crt_usr_id != null and _sys_crt_usr_id != ''">AND sys_crt_usr_id LIKE CONCAT('%', #{_sys_crt_usr_id}, '%')</if>
                <if test="_sys_crt_dt != null and _sys_crt_dt != ''">AND sys_crt_dt LIKE CONCAT('%', #{_sys_crt_dt}, '%')</if>
                <if test="_sys_upd_usr_id != null and _sys_upd_usr_id != ''">AND sys_upd_usr_id LIKE CONCAT('%', #{_sys_upd_usr_id}, '%')</if>
                <if test="_sys_upd_dt != null and _sys_upd_dt != ''">AND sys_upd_dt LIKE CONCAT('%', #{_sys_upd_dt}, '%')</if>
            </where>
        ) AS sub
        <include refid="sortFilter"/>
        LIMIT #{row_range} OFFSET #{offset}
    </select>

    <select id="SELECT_PAGING_TOTAL_NUMBER" resultType="int">
        SELECT CEIL(COUNT(*) / #{row_range}) FROM SYS_OFFC
        <where>
            
            <if test="top_offc_cd != null and top_offc_cd != ''">AND top_offc_cd = #{top_offc_cd}</if>
            <if test="offc_nm != null and offc_nm != ''">AND offc_nm = #{offc_nm}</if>
            <if test="offc_cd != null and offc_cd != ''">AND offc_cd = #{offc_cd}</if>
            <if test="offc_type != null and offc_type != ''">AND offc_type = #{offc_type}</if>
            <if test="offc_type_cd != null and offc_type_cd != ''">AND offc_type_cd = #{offc_type_cd}</if>
            <if test="sys_crt_usr_id != null and sys_crt_usr_id != ''">AND sys_crt_usr_id = #{sys_crt_usr_id}</if>
            <if test="sys_crt_dt != null">AND sys_crt_dt = #{sys_crt_dt}</if>
            <if test="sys_upd_usr_id != null and sys_upd_usr_id != ''">AND sys_upd_usr_id = #{sys_upd_usr_id}</if>
            <if test="sys_upd_dt != null">AND sys_upd_dt = #{sys_upd_dt}</if>
            
            <if test="_top_offc_cd != null and _top_offc_cd != ''">AND top_offc_cd LIKE CONCAT('%', #{_top_offc_cd}, '%')</if>
            <if test="_offc_nm != null and _offc_nm != ''">AND offc_nm LIKE CONCAT('%', #{_offc_nm}, '%')</if>
            <if test="_offc_cd != null and _offc_cd != ''">AND offc_cd LIKE CONCAT('%', #{_offc_cd}, '%')</if>
            <if test="_offc_type != null and _offc_type != ''">AND offc_type LIKE CONCAT('%', #{_offc_type}, '%')</if>
            <if test="_offc_type_cd != null and _offc_type_cd != ''">AND offc_type_cd LIKE CONCAT('%', #{_offc_type_cd}, '%')</if>
            <if test="_sys_crt_usr_id != null and _sys_crt_usr_id != ''">AND sys_crt_usr_id LIKE CONCAT('%', #{_sys_crt_usr_id}, '%')</if>
            <if test="_sys_crt_dt != null and _sys_crt_dt != ''">AND sys_crt_dt LIKE CONCAT('%', #{_sys_crt_dt}, '%')</if>
            <if test="_sys_upd_usr_id != null and _sys_upd_usr_id != ''">AND sys_upd_usr_id LIKE CONCAT('%', #{_sys_upd_usr_id}, '%')</if>
            <if test="_sys_upd_dt != null and _sys_upd_dt != ''">AND sys_upd_dt LIKE CONCAT('%', #{_sys_upd_dt}, '%')</if>
        </where>
    </select>

    <select id="SELECT" resultType="com.vims.common.office.SysOffice">
        SELECT
            
            top_offc_cd,
            offc_nm,
            offc_cd,
            offc_type,
            offc_type_cd,
            sys_crt_usr_id,
            sys_crt_dt,
            sys_upd_usr_id,
            sys_upd_dt
        FROM SYS_OFFC
        <where>
            
            <if test="top_offc_cd != null and top_offc_cd != ''">AND top_offc_cd = #{top_offc_cd}</if>
            <if test="offc_nm != null and offc_nm != ''">AND offc_nm = #{offc_nm}</if>
            <if test="offc_cd != null and offc_cd != ''">AND offc_cd = #{offc_cd}</if>
            <if test="offc_type != null and offc_type != ''">AND offc_type = #{offc_type}</if>
            <if test="offc_type_cd != null and offc_type_cd != ''">AND offc_type_cd = #{offc_type_cd}</if>
            <if test="sys_crt_usr_id != null and sys_crt_usr_id != ''">AND sys_crt_usr_id = #{sys_crt_usr_id}</if>
            <if test="sys_crt_dt != null">AND sys_crt_dt = #{sys_crt_dt}</if>
            <if test="sys_upd_usr_id != null and sys_upd_usr_id != ''">AND sys_upd_usr_id = #{sys_upd_usr_id}</if>
            <if test="sys_upd_dt != null">AND sys_upd_dt = #{sys_upd_dt}</if>
            
            <if test="_top_offc_cd != null and _top_offc_cd != ''">AND top_offc_cd LIKE CONCAT('%', #{_top_offc_cd}, '%')</if>
            <if test="_offc_nm != null and _offc_nm != ''">AND offc_nm LIKE CONCAT('%', #{_offc_nm}, '%')</if>
            <if test="_offc_cd != null and _offc_cd != ''">AND offc_cd LIKE CONCAT('%', #{_offc_cd}, '%')</if>
            <if test="_offc_type != null and _offc_type != ''">AND offc_type LIKE CONCAT('%', #{_offc_type}, '%')</if>
            <if test="_offc_type_cd != null and _offc_type_cd != ''">AND offc_type_cd LIKE CONCAT('%', #{_offc_type_cd}, '%')</if>
            <if test="_sys_crt_usr_id != null and _sys_crt_usr_id != ''">AND sys_crt_usr_id LIKE CONCAT('%', #{_sys_crt_usr_id}, '%')</if>
            <if test="_sys_crt_dt != null and _sys_crt_dt != ''">AND sys_crt_dt LIKE CONCAT('%', #{_sys_crt_dt}, '%')</if>
            <if test="_sys_upd_usr_id != null and _sys_upd_usr_id != ''">AND sys_upd_usr_id LIKE CONCAT('%', #{_sys_upd_usr_id}, '%')</if>
            <if test="_sys_upd_dt != null and _sys_upd_dt != ''">AND sys_upd_dt LIKE CONCAT('%', #{_sys_upd_dt}, '%')</if>
        </where>
    </select>

    <insert id="INSERT">
        INSERT INTO SYS_OFFC(
            
             top_offc_cd 
            , offc_nm 
            , offc_cd 
            
            <if test="offc_type != null">, offc_type</if>
            <if test="offc_type_cd != null">, offc_type_cd</if>
            <if test="sys_crt_usr_id != null">, sys_crt_usr_id</if>
            <if test="sys_crt_dt != null">, sys_crt_dt</if>
            <if test="sys_upd_usr_id != null">, sys_upd_usr_id</if>
            <if test="sys_upd_dt != null">, sys_upd_dt</if>
        )
        VALUES(
            
             #{top_offc_cd}
            , #{offc_nm}
            , #{offc_cd}
            
            <if test="offc_type != null">, #{offc_type}</if>
            <if test="offc_type_cd != null">, #{offc_type_cd}</if>
            <if test="sys_crt_usr_id != null">, #{sys_crt_usr_id}</if>
            <if test="sys_crt_dt != null">, #{sys_crt_dt}</if>
            <if test="sys_upd_usr_id != null">, #{sys_upd_usr_id}</if>
            <if test="sys_upd_dt != null">, #{sys_upd_dt}</if>
        )
    </insert>

    <delete id="DELETE">
        DELETE FROM SYS_OFFC
        <where>
            
            AND offc_cd = #{offc_cd}
            
            <if test="top_offc_cd != null">AND top_offc_cd = #{top_offc_cd}</if>
            <if test="offc_nm != null">AND offc_nm = #{offc_nm}</if>
            <if test="offc_type != null">AND offc_type = #{offc_type}</if>
            <if test="offc_type_cd != null">AND offc_type_cd = #{offc_type_cd}</if>
            <if test="sys_crt_usr_id != null">AND sys_crt_usr_id = #{sys_crt_usr_id}</if>
            <if test="sys_crt_dt != null">AND sys_crt_dt = #{sys_crt_dt}</if>
            <if test="sys_upd_usr_id != null">AND sys_upd_usr_id = #{sys_upd_usr_id}</if>
            <if test="sys_upd_dt != null">AND sys_upd_dt = #{sys_upd_dt}</if>
        </where>
    </delete>

    <update id="UPDATE">
        UPDATE SYS_OFFC
        <set>
            
            <if test="top_offc_cd != null and top_offc_cd != '' ">,top_offc_cd = #{top_offc_cd}</if>
            <if test="offc_nm != null and offc_nm != '' ">,offc_nm = #{offc_nm}</if>
            <if test="offc_type != null and offc_type != '' ">,offc_type = #{offc_type}</if>
            <if test="offc_type_cd != null and offc_type_cd != '' ">,offc_type_cd = #{offc_type_cd}</if>
            <if test="sys_crt_usr_id != null and sys_crt_usr_id != '' ">,sys_crt_usr_id = #{sys_crt_usr_id}</if>
            <if test="sys_crt_dt != null">,sys_crt_dt = #{sys_crt_dt}</if>
            <if test="sys_upd_usr_id != null and sys_upd_usr_id != '' ">,sys_upd_usr_id = #{sys_upd_usr_id}</if>
            <if test="sys_upd_dt != null">,sys_upd_dt = #{sys_upd_dt}</if>
        </set>
        <where>
            
            AND offc_cd = #{offc_cd}
        </where>
    </update>
</mapper>