<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vims.common.siteconfiggroup.SysSiteConfigGroupMapper">
    <sql id="sortFilter">
        ORDER BY
        <choose>
            <when test="sort_id != null and sort_order != null">
                ${sort_id} ${sort_order}
            </when>
            <otherwise>
                sub.no ASC
            </otherwise>
        </choose>
    </sql>

    <select id="SELECT_PAGE" resultType="com.vims.common.siteconfiggroup.SysSiteConfigGroup">
        SELECT * FROM (
            SELECT
                row_number() over (ORDER BY sys_crt_dt DESC )AS no,
                
                cfg_grp_id, 
                cfg_grp_nm, 
                use_yn, 
                sys_crt_dt, 
                sys_crt_usr_id, 
                sys_upd_dt, 
                sys_upd_usr_id 
            FROM SYS_SITE_CFG_GRP
            <where>
                
                <if test="cfg_grp_id != null and cfg_grp_id != ''">AND cfg_grp_id = #{cfg_grp_id}</if>
                <if test="cfg_grp_nm != null and cfg_grp_nm != ''">AND cfg_grp_nm = #{cfg_grp_nm}</if>
                <if test="use_yn != null and use_yn != ''">AND use_yn = #{use_yn}</if>
                <if test="sys_crt_dt != null">AND sys_crt_dt = #{sys_crt_dt}</if>
                <if test="sys_crt_usr_id != null and sys_crt_usr_id != ''">AND sys_crt_usr_id = #{sys_crt_usr_id}</if>
                <if test="sys_upd_dt != null">AND sys_upd_dt = #{sys_upd_dt}</if>
                <if test="sys_upd_usr_id != null and sys_upd_usr_id != ''">AND sys_upd_usr_id = #{sys_upd_usr_id}</if>
                
                <if test="_cfg_grp_id != null and _cfg_grp_id != ''">AND cfg_grp_id LIKE CONCAT('%', #{_cfg_grp_id}, '%')</if>
                <if test="_cfg_grp_nm != null and _cfg_grp_nm != ''">AND cfg_grp_nm LIKE CONCAT('%', #{_cfg_grp_nm}, '%')</if>
                <if test="_use_yn != null and _use_yn != ''">AND use_yn LIKE CONCAT('%', #{_use_yn}, '%')</if>
                <if test="_sys_crt_dt != null and _sys_crt_dt != ''">AND sys_crt_dt LIKE CONCAT('%', #{_sys_crt_dt}, '%')</if>
                <if test="_sys_crt_usr_id != null and _sys_crt_usr_id != ''">AND sys_crt_usr_id LIKE CONCAT('%', #{_sys_crt_usr_id}, '%')</if>
                <if test="_sys_upd_dt != null and _sys_upd_dt != ''">AND sys_upd_dt LIKE CONCAT('%', #{_sys_upd_dt}, '%')</if>
                <if test="_sys_upd_usr_id != null and _sys_upd_usr_id != ''">AND sys_upd_usr_id LIKE CONCAT('%', #{_sys_upd_usr_id}, '%')</if>
            </where>
        ) AS sub
        <include refid="sortFilter"/>
        LIMIT #{row_range} OFFSET #{offset}
    </select>

    <select id="SELECT_PAGING_TOTAL_NUMBER" resultType="int">
        SELECT CEIL(COUNT(*) / #{row_range}) FROM SYS_SITE_CFG_GRP
        <where>
            
            <if test="cfg_grp_id != null and cfg_grp_id != ''">AND cfg_grp_id = #{cfg_grp_id}</if>
            <if test="cfg_grp_nm != null and cfg_grp_nm != ''">AND cfg_grp_nm = #{cfg_grp_nm}</if>
            <if test="use_yn != null and use_yn != ''">AND use_yn = #{use_yn}</if>
            <if test="sys_crt_dt != null">AND sys_crt_dt = #{sys_crt_dt}</if>
            <if test="sys_crt_usr_id != null and sys_crt_usr_id != ''">AND sys_crt_usr_id = #{sys_crt_usr_id}</if>
            <if test="sys_upd_dt != null">AND sys_upd_dt = #{sys_upd_dt}</if>
            <if test="sys_upd_usr_id != null and sys_upd_usr_id != ''">AND sys_upd_usr_id = #{sys_upd_usr_id}</if>
            
            <if test="_cfg_grp_id != null and _cfg_grp_id != ''">AND cfg_grp_id LIKE CONCAT('%', #{_cfg_grp_id}, '%')</if>
            <if test="_cfg_grp_nm != null and _cfg_grp_nm != ''">AND cfg_grp_nm LIKE CONCAT('%', #{_cfg_grp_nm}, '%')</if>
            <if test="_use_yn != null and _use_yn != ''">AND use_yn LIKE CONCAT('%', #{_use_yn}, '%')</if>
            <if test="_sys_crt_dt != null and _sys_crt_dt != ''">AND sys_crt_dt LIKE CONCAT('%', #{_sys_crt_dt}, '%')</if>
            <if test="_sys_crt_usr_id != null and _sys_crt_usr_id != ''">AND sys_crt_usr_id LIKE CONCAT('%', #{_sys_crt_usr_id}, '%')</if>
            <if test="_sys_upd_dt != null and _sys_upd_dt != ''">AND sys_upd_dt LIKE CONCAT('%', #{_sys_upd_dt}, '%')</if>
            <if test="_sys_upd_usr_id != null and _sys_upd_usr_id != ''">AND sys_upd_usr_id LIKE CONCAT('%', #{_sys_upd_usr_id}, '%')</if>
        </where>
    </select>

    <select id="SELECT" resultType="com.vims.common.siteconfiggroup.SysSiteConfigGroup">
        SELECT
            
            cfg_grp_id,
            cfg_grp_nm,
            use_yn,
            sys_crt_dt,
            sys_crt_usr_id,
            sys_upd_dt,
            sys_upd_usr_id
        FROM SYS_SITE_CFG_GRP
        <where>
            
            <if test="cfg_grp_id != null and cfg_grp_id != ''">AND cfg_grp_id = #{cfg_grp_id}</if>
            <if test="cfg_grp_nm != null and cfg_grp_nm != ''">AND cfg_grp_nm = #{cfg_grp_nm}</if>
            <if test="use_yn != null and use_yn != ''">AND use_yn = #{use_yn}</if>
            <if test="sys_crt_dt != null">AND sys_crt_dt = #{sys_crt_dt}</if>
            <if test="sys_crt_usr_id != null and sys_crt_usr_id != ''">AND sys_crt_usr_id = #{sys_crt_usr_id}</if>
            <if test="sys_upd_dt != null">AND sys_upd_dt = #{sys_upd_dt}</if>
            <if test="sys_upd_usr_id != null and sys_upd_usr_id != ''">AND sys_upd_usr_id = #{sys_upd_usr_id}</if>
            
            <if test="_cfg_grp_id != null and _cfg_grp_id != ''">AND cfg_grp_id LIKE CONCAT('%', #{_cfg_grp_id}, '%')</if>
            <if test="_cfg_grp_nm != null and _cfg_grp_nm != ''">AND cfg_grp_nm LIKE CONCAT('%', #{_cfg_grp_nm}, '%')</if>
            <if test="_use_yn != null and _use_yn != ''">AND use_yn LIKE CONCAT('%', #{_use_yn}, '%')</if>
            <if test="_sys_crt_dt != null and _sys_crt_dt != ''">AND sys_crt_dt LIKE CONCAT('%', #{_sys_crt_dt}, '%')</if>
            <if test="_sys_crt_usr_id != null and _sys_crt_usr_id != ''">AND sys_crt_usr_id LIKE CONCAT('%', #{_sys_crt_usr_id}, '%')</if>
            <if test="_sys_upd_dt != null and _sys_upd_dt != ''">AND sys_upd_dt LIKE CONCAT('%', #{_sys_upd_dt}, '%')</if>
            <if test="_sys_upd_usr_id != null and _sys_upd_usr_id != ''">AND sys_upd_usr_id LIKE CONCAT('%', #{_sys_upd_usr_id}, '%')</if>
        </where>
    </select>

    <insert id="INSERT">
        INSERT INTO SYS_SITE_CFG_GRP(
            
             cfg_grp_id 
            , cfg_grp_nm 
            , use_yn 
            , sys_crt_dt 
            , sys_crt_usr_id 
            
            <if test="sys_upd_dt != null">, sys_upd_dt</if>
            <if test="sys_upd_usr_id != null">, sys_upd_usr_id</if>
        )
        VALUES(
            
             #{cfg_grp_id}
            , #{cfg_grp_nm}
            , #{use_yn}
            , #{sys_crt_dt}
            , #{sys_crt_usr_id}
            
            <if test="sys_upd_dt != null">, #{sys_upd_dt}</if>
            <if test="sys_upd_usr_id != null">, #{sys_upd_usr_id}</if>
        )
    </insert>

    <delete id="DELETE">
        DELETE FROM SYS_SITE_CFG_GRP
        <where>
            
            AND cfg_grp_id = #{cfg_grp_id}
            
            <if test="cfg_grp_nm != null">AND cfg_grp_nm = #{cfg_grp_nm}</if>
            <if test="use_yn != null">AND use_yn = #{use_yn}</if>
            <if test="sys_crt_dt != null">AND sys_crt_dt = #{sys_crt_dt}</if>
            <if test="sys_crt_usr_id != null">AND sys_crt_usr_id = #{sys_crt_usr_id}</if>
            <if test="sys_upd_dt != null">AND sys_upd_dt = #{sys_upd_dt}</if>
            <if test="sys_upd_usr_id != null">AND sys_upd_usr_id = #{sys_upd_usr_id}</if>
        </where>
    </delete>

    <update id="UPDATE">
        UPDATE SYS_SITE_CFG_GRP
        <set>
            
            <if test="cfg_grp_nm != null">,cfg_grp_nm = #{cfg_grp_nm}</if>
            <if test="use_yn != null">,use_yn = #{use_yn}</if>
            <if test="sys_crt_dt != null">,sys_crt_dt = #{sys_crt_dt}</if>
            <if test="sys_crt_usr_id != null">,sys_crt_usr_id = #{sys_crt_usr_id}</if>
            <if test="sys_upd_dt != null">,sys_upd_dt = #{sys_upd_dt}</if>
            <if test="sys_upd_usr_id != null">,sys_upd_usr_id = #{sys_upd_usr_id}</if>
        </set>
        <where>
            
            AND cfg_grp_id = #{cfg_grp_id}
        </where>
    </update>
</mapper>