<article id="sampleModifyPage" class="gi-article-content gi-col-95 gi-row-100">
    <section class="gi-col-100 gi-row-100 gi-overflow-scroll">
        <div class="gi-container-narrow">

            <!-- 페이지 헤더 -->
            <header class="gi-margin-bottom-40px">
                <h1 class="gi-font-size-36px gi-title-main">[Page.Message].Message.Label.Array["SAMPLE.TITLE_MODIFY"]
                </h1>
                <p class="gi-subtitle-main">[Page.Message].Message.Label.Array["SAMPLE.SUB_TITLE_MODIFY"]</p>
            </header>

            <form id="sampleModifyForm">

                <!-- [기본 정보 카드] -->
                <div class="gi-article-content gi-margin-bottom-30px">
                    <h2 class="gi-title-section">[Page.Message].Message.Label.Array["SAMPLE.INFO_BASIC"]</h2>
                    <div class="gi-flex gi-flex-column gi-grid-gap-20px">
                        <!-- [입력 칸 1개] -->
                        <div class="gi-flex gi-grid-gap-20px">
                            <div class="gi-input-container gi-flex-1">
                                <label for="test3" class="gi-input-label" data-focus-label="true"
                                    data-required="true">[Page.Message].Message.Label.Array["SAMPLE.NAME"]</label>
                                <input data-field="test3" id="test3" name="test3" class="gi-input" autocomplete="off" />
                            </div>
                        </div>
                        <!-- [입력 칸 2개] -->
                        <div class="gi-flex gi-grid-gap-20px">
                            <div class="gi-input-container gi-flex-1">
                                <label for="test4" class="gi-input-label" data-focus-label="true"
                                    data-required="true">[Page.Message].Message.Label.Array["SAMPLE.NAME"]</label>
                                <input data-field="test4" id="test4" name="test4" class="gi-input" autocomplete="off" />
                            </div>
                            <div class="gi-input-container gi-flex-1">
                                <label for="sample_code" class="gi-input-label" data-focus-label="true"
                                    data-required="true">[Page.Message].Message.Label.Array["SAMPLE.CODE"]</label>
                                <input data-field="sample_code" id="sample_code" name="sample_code" class="gi-input"
                                    autocomplete="off" />
                            </div>
                        </div>
                        <!-- [입력 칸 3개] -->
                        <div class="gi-flex gi-grid-gap-20px">
                            <div class="gi-input-container gi-flex-1">
                                <label for="sample_name" class="gi-input-label" data-focus-label="true"
                                    data-required="true">[Page.Message].Message.Label.Array["SAMPLE.NAME"]</label>
                                <input data-field="sample_name" id="sample_name" name="sample_name" class="gi-input"
                                    autocomplete="off" />
                            </div>

                            <div class="gi-input-container gi-flex-1">
                                <label for="sample_name" class="gi-input-label" data-focus-label="true"
                                    data-required="true">[Page.Message].Message.Label.Array["SAMPLE.NAME"]</label>
                                <input data-field="sample_name" id="sample_name" name="sample_name" class="gi-input"
                                    autocomplete="off" />
                            </div>

                            <div class="gi-input-container gi-flex-1">
                                <label for="sample_name" class="gi-input-label" data-focus-label="true"
                                    data-required="true">[Page.Message].Message.Label.Array["SAMPLE.NAME"]</label>
                                <input data-field="sample_name" id="sample_name" name="sample_name" class="gi-input"
                                    autocomplete="off" />
                            </div>
                        </div>
                        <!-- [입력 칸 4개] -->
                        <div class="gi-flex gi-grid-gap-20px">
                            <div class="gi-input-container gi-flex-1">
                                <label for="sample_name" class="gi-input-label" data-focus-label="true"
                                    data-required="true">[Page.Message].Message.Label.Array["SAMPLE.NAME"]</label>
                                <input data-field="sample_name" id="sample_name" name="sample_name" class="gi-input"
                                    autocomplete="off" />
                            </div>

                            <div class="gi-input-container gi-flex-1">
                                <label for="sample_name" class="gi-input-label" data-focus-label="true"
                                    data-required="true">[Page.Message].Message.Label.Array["SAMPLE.NAME"]</label>
                                <input data-field="sample_name" id="sample_name" name="sample_name" class="gi-input"
                                    autocomplete="off" />
                            </div>

                            <div class="gi-input-container gi-flex-1">
                                <label for="sample_name" class="gi-input-label" data-focus-label="true"
                                    data-required="true">[Page.Message].Message.Label.Array["SAMPLE.NAME"]</label>
                                <input data-field="sample_name" id="sample_name" name="sample_name" class="gi-input"
                                    autocomplete="off" />
                            </div>

                            <div class="gi-input-container gi-flex-1">
                                <label for="sample_name" class="gi-input-label" data-focus-label="true"
                                    data-required="true">[Page.Message].Message.Label.Array["SAMPLE.NAME"]</label>
                                <input data-field="sample_name" id="sample_name" name="sample_name" class="gi-input"
                                    autocomplete="off" />
                            </div>
                        </div>

                        <div class="gi-flex gi-grid-gap-20px">
                            <div class="gi-input-container gi-flex-1">
                                <label for="sample_category" class="gi-input-label" data-focus-label="true"
                                    data-required="true">[Page.Message].Message.Label.Array["SAMPLE.CATEGORY"]</label>
                                <input data-field="sample_category" id="sample_category" name="sample_category"
                                    class="gi-select" data-select />
                            </div>
                            <div class="gi-input-container gi-flex-1">
                                <label for="reg_date" class="gi-input-label"
                                    data-focus-label="true">[Page.Message].Message.Label.Array["SAMPLE.REG_DATE"]</label>
                                <input data-field="reg_date" id="reg_date" name="reg_date" class="gi-input"
                                    data-datepicker autocomplete="off" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- [파일 첨부 카드] - Data Attribute 방식 -->
                <div id="sample-file-section" data-file-card data-input-id="sample_file_uuid"
                    data-folder-name="sampleFolder" data-api-path="/fms/common/file/sysFileDetail"
                    data-read-only="false">
                </div>

                <!-- 버튼 영역 -->
                <div class="gi-flex gi-flex-justify-content-center gi-grid-gap-16px gi-margin-top-40px">
                    <button id="sample-back-btn" class="gi-btn-blue gi-btn-modern-back"
                        type="button">[Page.Message].Message.Label.Array["BACK_BTN"]</button>
                    <button id="sample-update-btn" class="gi-btn-blue gi-btn-modern-update"
                        type="button">[Page.Message].Message.Label.Array["UPDATE_BTN"]</button>
                </div>

            </form>
        </div>
    </section>
</article>

<script type="text/javascript">
    var PRGMID = "sampleModifyPage";
    var PRGFMID = "sampleModifyForm";

    init();

    async function init() {
        const pageInit = new PageInit();
        if (pageInit.fileInitPromise) {
            await pageInit.fileInitPromise;
        }
        clickEvent();
        dataSetting();

        // select option 초기화
        input.setSelectOption("#sample_category", "/cms/common/sysCode/find", { code: "code_id", name: "code_name" });
    }
    //리스트에서 받아온 데이터 바인딩처리
    async function dataSetting() {
        await dataBinding.setData(PRGMID);
        let data = dataBinding.getData(PRGMID);

        // 파일 업로드 컴포넌트가 활성화된 상태에서 데이터 바인딩 후 리스트를 갱신하기 위해 이벤트 트리거
        if ($("#sample_file_uuid").val()) {
            $("#sample_file_uuid").trigger("change");
        }
    }

    function clickEvent() {
        $("#sample-update-btn").on("click", function () {
            if (formUtil.validationCheck(PRGFMID, "CHECK.")) {
                let data = dataBinding.getData(PRGFMID);
                updateSample(data);
            }
        });

        $("#sample-reset-btn").on("click", function () {
            formUtil.popup("reset_confirm", Message.Label.Array["CONFIRM.RESET"], function () {
                $("#" + PRGFMID)[0].reset();
                new AfterLoadDataEvent();
                formUtil.toast(Message.Label.Array["COMPLETE.CANCEL"]);
            });
        });
        //뒤로가기 버튼 클릭 이벤트
        $("#sample-back-btn").click(function () {
            redirectBackPage();
        })
    }
    function redirectBackPage() {
        formUtil.apiLoadContent("cms", "/sample/sampleRedirectList", "");
    }
    function updateSample(data) {
        formUtil.popup("update_confirm", Message.Label.Array["CONFIRM.UPDATE"], function () {
            console.log("Updating Data: ", data);
            formUtil.toast(Message.Label.Array["COMPLETE.UPDATE"], "success");
        });
    }
</script>