<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>MVIMS | 자동차 통합 관리 서비스</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/web/static/common/css/style.css">
    <link rel="stylesheet" href="/common/css/common/Popup.css">
    <link rel="stylesheet" href="/common/css/common/FormUtility.css">
    <!-- JS -->
    <script src="/web/static/assets/excel/xlsx.full.min.js"></script>
    <script type="text/javascript" src="/common/js/jquery/jquery3.6.0.js"></script>
    <script type="text/javascript" src="/common/js/common/FormUtility.js"></script>
    <script type="text/javascript" src="/common/js/common/utils/GridSortManager.js"></script>
    <script type="text/javascript" src="/common/js/common/utils/GridUtils.js"></script>
    <script type="text/javascript" src="/common/js/common/utils/CommonUtils.js"></script>
    <script type="text/javascript" src="/common/js/common/utils/ValidationUtils.js"></script>
    <script type="text/javascript" src="/common/js/common/utils/PopupUtils.js"></script>
    <script type="text/javascript" src="/common/js/common/utils/FormatUtils.js"></script>
    <script type="text/javascript" src="/common/js/common/FileUtils.js"></script>
    <script type="text/javascript" src="/common/js/common/utils/PageUtils.js"></script>
    <script type="text/javascript" src="/common/js/common/utils/CalendarUtils.js"></script>
    <script type="text/javascript" src="/common/js/common/utils/ChartUtils.js"></script>
    <script type="text/javascript" src="/common/js/common/utils/TabUtils.js"></script>
    <script type="text/javascript" src="/common/js/common/utils/KeyPadUtils.js"></script>
    <script type="text/javascript" src="/common/js/common/DocumentsForm.js"></script>
    <script type="text/javascript" src="/common/js/common/Common.js"></script>
    <script type="text/javascript" src="/common/js/common/Api.js"></script>
    <script type="text/javascript" src="/common/js/common/CommonTag.js"></script>
    <script type="text/javascript" src="/common/js/common/utils/InputTagUtils.js"></script>
    <script type="text/javascript" src="/common/js/common/utils/InputMaskUtils.js"></script>
    <script type="text/javascript" src="/common/js/common/utils/DateTagUtils.js"></script>
    <script type="text/javascript" src="/common/js/common/utils/SelectTagUtils.js"></script>
    <script type="text/javascript" src="/common/js/common/utils/AddressTagUtils.js"></script>
    <script type="text/javascript" src="/common/js/common/utils/TagValidationUtils.js"></script>
    <script type="text/javascript" src="/common/js/common/utils/SliderUtils.js"></script>
    <script type="text/javascript" src="/common/js/common/JwtUtils.js"></script>
    <script type="text/javascript" src="/common/js/axios/axios.js"></script>
    <script type="text/javascript" src="/common/js/common/AxiosConfig.js"></script>
    <script type="text/javascript" src="/common/js/common/InputUtility.js"></script>
    <script type="text/javascript" src="/common/js/messageConfig.js"></script>
</head>

<body style="opacity: 0; animation: fadeIn 0.4s ease-out forwards;">
    <style>
        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        .gi-home-setting-article::after {
            content: "";
            position: absolute;
            top: -196px;
            border-top: 8px solid transparent;
            border-left: 8px solid transparent;
            border-right: 8px solid #ffffff;
            border-bottom: 8px solid transparent;
            filter: drop-shadow(-2px 0 2px rgba(0, 0, 0, 0.05));
            transform: rotate(90deg);
            right: -143px;
        }
    </style>

    <header class="header">
        <div class="container">
            <a href="/" class="logo">MVIMS</a>

            <!-- Desktop Navigation -->
            <nav class="nav-web">
                <!-- 메인 -->
                <div class="nav-item">
                    <a href="/" class="nav-link">[Page.Message].Message.Label.Array["NAV.MAIN"]</a>
                </div>

                <!-- 자동차 등록 -->
                <div class="nav-item">
                    <a href="#" class="nav-link">[Page.Message].Message.Label.Array["NAV.CAR_REG"]</a>
                    <div class="mega-menu">
                        <div class="mega-content">
                            <div>
                                <span class="mega-title">[Page.Message].Message.Label.Array["NAV.REG_INFO"]</span>
                                <ul class="mega-list">
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.REG_PROC_INFO"]</a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <span class="mega-title">[Page.Message].Message.Label.Array["NAV.REG_APPLY"]</span>
                                <ul class="mega-list">
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.NEW_REG"]</a></li>
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.TRANSFER_REG"]</a>
                                    </li>
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.CANCEL_REG"]</a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <span class="mega-title">[Page.Message].Message.Label.Array["NAV.SVC_APPLY"]</span>
                                <ul class="mega-list">
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.CHANGE_CAR_NUM"]</a>
                                    </li>
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.REISSUE_PLATE"]</a>
                                    </li>
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.REISSUE_CERT"]</a>
                                    </li>
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.REPLACE_CERT"]</a>
                                    </li>
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.KEEP_NUM_REG"]</a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <span class="mega-title">[Page.Message].Message.Label.Array["NAV.CAR"]</span>
                                <ul class="mega-list">
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.SELECT_CAR_NUM"]</a>
                                    </li>
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.RESERVE_CAR_NUM"]</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 자동차 검사 -->
                <div class="nav-item">
                    <a href="#" class="nav-link">[Page.Message].Message.Label.Array["NAV.CAR_INSPECT"]</a>
                    <div class="mega-menu">
                        <div class="mega-content">
                            <div>
                                <span class="mega-title">[Page.Message].Message.Label.Array["NAV.INSPECT_INFO"]</span>
                                <ul class="mega-list">
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.INSPECT_PROC_INFO"]</a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <span
                                    class="mega-title">[Page.Message].Message.Label.Array["NAV.INSPECT_RESERVE"]</span>
                                <ul class="mega-list">
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.NEW_INSPECT"]</a>
                                    </li>
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.REGULAR_INSPECT"]</a>
                                    </li>
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.OTHER_INSPECT"]</a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <span class="mega-title">[Page.Message].Message.Label.Array["NAV.MGMT_SVC"]</span>
                                <ul class="mega-list">
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.TUNING_APPLY"]</a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <span class="mega-title">[Page.Message].Message.Label.Array["NAV.CHASSIS_APPLY"]</span>
                                <ul class="mega-list">
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.NEW_CHASSIS"]</a>
                                    </li>
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.RE_CHASSIS"]</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 자동차 정보 등록 -->
                <div class="nav-item">
                    <a href="#" class="nav-link">[Page.Message].Message.Label.Array["NAV.CAR_INFO_REG"]</a>
                    <div class="mega-menu">
                        <div class="mega-content">
                            <div>
                                <span class="mega-title">[Page.Message].Message.Label.Array["NAV.IMPORT_CAR_REG"]</span>
                                <ul class="mega-list">
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.IMPORT_PROC_INFO"]</a>
                                    </li>
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.IMPORT_REG"]</a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <span class="mega-title">[Page.Message].Message.Label.Array["NAV.MAKE_CAR"]</span>
                                <ul class="mega-list">
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.MAKE_CAR_REG_INFO"]</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 정보 조회 -->
                <div class="nav-item">
                    <a href="#" class="nav-link">[Page.Message].Message.Label.Array["NAV.INFO_SEARCH"]</a>
                    <div class="mega-menu">
                        <div class="mega-content">
                            <div>
                                <span class="mega-title">[Page.Message].Message.Label.Array["NAV.NRTC_SEARCH"]</span>
                                <ul class="mega-list">
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.CHECK_OWNER"]</a>
                                    </li>
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.CHECK_REG"]</a>
                                    </li>
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.INSPECT_RESULT"]</a>
                                    </li>
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.MY_CAR_INFO"]</a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <span
                                    class="mega-title">[Page.Message].Message.Label.Array["NAV.OTHER_ORG_SEARCH"]</span>
                                <ul class="mega-list">
                                    <li><a href="javascript:void(0);"
                                            onclick="formUtil.apiLoadContent('/web', '/searchInfo/chkTollList', {});"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.TOLL_UNPAID"]</a>
                                    </li>
                                    <li><a href="javascript:void(0);"
                                            onclick="formUtil.apiLoadContent('/web', '/searchInfo/chkFineList', {});"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.FINE_UNPAID"]</a>
                                    </li>
                                    <li><a href="javascript:void(0);"
                                            onclick="formUtil.apiLoadContent('/web', '/searchInfo/chkTxList', {});"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.TAX_UNPAID"]</a>
                                    </li>
                                    <li><a href="javascript:void(0);"
                                            onclick="formUtil.apiLoadContent('/web', '/searchInfo/chkInsrncList', {});"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.INSURANCE_STATUS"]</a>
                                    </li>
                                    <li><a href="javascript:void(0);"
                                            onclick="formUtil.apiLoadContent('/web', '/searchInfo/chkCstmList', {});"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.CUSTOMS_INFO"]</a>
                                    </li>
                                    <li><a href="javascript:void(0);"
                                            onclick="formUtil.apiLoadContent('/web', '/searchInfo/chkFeeList', {});"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.SVC_COST_PAY"]</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MY-PAGE -->
                <div class="nav-item">
                    <a href="#" class="nav-link">[Page.Message].Message.Label.Array["NAV.MY_PAGE"]</a>
                    <div class="mega-menu">
                        <div class="mega-content">
                            <div>
                                <span class="mega-title">[Page.Message].Message.Label.Array["NAV.FEE_MGMT"]</span>
                                <ul class="mega-list">
                                    <li><a href="javascript:void(0);"
                                            onclick="formUtil.apiLoadContent('/web', '/myPage/feePayList', {});"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.PAY_FEE"]</a></li>
                                    <li><a href="javascript:void(0);"
                                            onclick="formUtil.apiLoadContent('/web', '/myPage/feeRfndList', {});"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.REFUND_APPLY"]</a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <span class="mega-title">[Page.Message].Message.Label.Array["NAV.MY_INFO_MGMT"]</span>
                                <ul class="mega-list">
                                    <li><a href="javascript:void(0);"
                                            onclick="formUtil.apiLoadContent('/web', '/myPage/myinfo', {});"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.EDIT_PRIV_INFO"]</a>
                                    </li>
                                    <li><a href="javascript:void(0);"
                                            onclick="formUtil.apiLoadContent('/web', '/myPage/svcPrgrsList', {});"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.CHECK_PROGRESS"]</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 관리자/사용자 -->
                <div class="nav-item">
                    <a href="#" class="nav-link"
                        style="opacity: 0.5;">[Page.Message].Message.Label.Array["NAV.SETTINGS"]</a>
                    <div class="mega-menu">
                        <div class="mega-content">
                            <div>
                                <span class="mega-title">[Page.Message].Message.Label.Array["NAV.ADMIN"]</span>
                                <ul class="mega-list">
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.BBS_MGMT"]</a>
                                    </li>
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.AUTH_SYS_MGMT"]</a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <span class="mega-title">[Page.Message].Message.Label.Array["NAV.USER"]</span>
                                <ul class="mega-list">
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.LOGIN_LOGOUT"]</a>
                                    </li>
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.PRIVACY_POLICY"]</a>
                                    </li>
                                    <li><a href="#"
                                            class="mega-link">[Page.Message].Message.Label.Array["NAV.SITEMAP"]</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <div style="display: flex; gap: 20px; align-items: center;">
                <a href="#" style="font-size: 20px; color: var(--text-main);"><i
                        class="fa-solid fa-magnifying-glass"></i></a>

                <!-- Language Selector -->
                <div class="gi-language-trigger" id="languageTrigger">
                    <i class="fa-solid fa-globe"></i>
                    <span class="gi-current-lang" id="currentLangCode">KO</span>
                    <article class="gi-home-setting-article lang-panel-closed" style="right: 0; left: auto; top:50px;">
                        <div class="gi-language-selector">
                            <div class="gi-language-label">
                                <i class="fa-solid fa-earth-asia"></i>
                                <span>Language</span>
                            </div>
                            <div class="gi-language-toggle" id="languageToggle">
                                <div class="gi-language-slider" id="languageSlider"></div>
                                <button type="button" class="gi-language-option active" data-lang="ko">
                                    <span class="gi-lang-flag">🇰🇷</span>
                                    <span class="gi-lang-text">한국어</span>
                                </button>
                                <button type="button" class="gi-language-option" data-lang="mn">
                                    <span class="gi-lang-flag">🇲🇳</span>
                                    <span class="gi-lang-text">Монгол</span>
                                </button>
                                <button type="button" class="gi-language-option" data-lang="en">
                                    <span class="gi-lang-flag">🇺🇸</span>
                                    <span class="gi-lang-text">English</span>
                                </button>
                            </div>
                        </div>
                    </article>
                </div>

                <button class="mobile-toggle" style="font-size: 20px; background: none; border: none; cursor: pointer;">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </div>
    </header>

    <main>
        <div id="gi-road-content"></div>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div>
                    <div class="logo" style="margin-bottom: 20px;">MVIMS</div>
                    <div style="display: flex; gap: 20px; margin-bottom: 20px;">
                        <a href="#">[Page.Message].Message.Label.Array["FOOTER.COMPANY_INTRO"]</a>
                        <a href="#"
                            style="font-weight: 700;">[Page.Message].Message.Label.Array["FOOTER.PRIVACY_POLICY"]</a>
                        <a href="#">[Page.Message].Message.Label.Array["FOOTER.TERMS"]</a>
                        <a href="#">[Page.Message].Message.Label.Array["FOOTER.SITEMAP"]</a>
                    </div>
                    <p style="opacity: 0.6; line-height: 2;">
                        [Page.Message].Message.Label.Array["FOOTER.COPYRIGHT"]
                    </p>
                </div>
                <div style="text-align: right;">
                    <div style="font-size: 24px; font-weight: 800; color: var(--text-main); margin-bottom: 8px;">
                        1588-1234</div>
                    <p>[Page.Message].Message.Label.Array["FOOTER.CS_CENTER"]</p>
                </div>
            </div>
        </div>
    </footer>

    <div class="PopupBody"></div>
    <div class="alertPopupBody"></div>

    <script>
        new loadToScript();
        let formUtil = new FormUtility();
        var commonTag = new CommonTag();
        var dataBinding = new DataBinding();
        var popup = new Popup();
        var changedHomeType = true;
        var common_session = new Session();
        var input = new InputUtility();

        $(document).ready(function () {
            // [수정] 표준 apiLoadContent 함수 사용 (Management 시스템과 동일)
            // prefixUrl: "/web", reqUrl: "/index/index", data: {}
            formUtil.apiLoadContent("/web", "/index/index", {});

            // [수정] Body 애니메이션 초기화
            // 애니메이션 속성으로 인해 position:fixed가 뷰포트가 아닌 body 기준으로 잡히는 문제 해결
            setTimeout(function () {
                $("body").css({ "animation": "none", "opacity": "1" });
            }, 600);

            initLanguageSelector();
        });

        function initLanguageSelector() {
            const $options = $(".gi-language-option");
            const $slider = $("#languageSlider");
            const $currentLangCode = $("#currentLangCode");

            const langCodeMap = {
                ko: "KO",
                mn: "MN",
                en: "EN"
            };

            const savedLang = localStorage.getItem("selectedLanguage") || "ko";
            setActiveLanguage(savedLang);

            $options.on("click", function () {
                const lang = $(this).data("lang");
                const currentLang = localStorage.getItem("selectedLanguage") || "ko";

                // 같은 언어면 무시
                if (lang === currentLang) return;

                setActiveLanguage(lang);
                localStorage.setItem("selectedLanguage", lang);
                // Set cookie for server-side
                document.cookie = "lang=" + lang + "; path=/";

                // 언어 패널 닫기
                $(".gi-home-setting-article").addClass("lang-panel-closed");

                // 전체 페이지 부드러운 페이드 아웃 → 새로고침
                $("body").css({
                    "opacity": "0",
                    "transition": "opacity 0.3s ease-out",
                    "pointer-events": "none"
                });

                // 페이드 아웃 완료 후 새로고침
                setTimeout(function () {
                    location.reload();
                }, 100);
            });

            $("#languageTrigger").on("click", function (e) {
                e.stopPropagation();
                $(".gi-home-setting-article").toggleClass("lang-panel-closed");
            });

            $(document).on("click", function (e) {
                if (!$(e.target).closest("#languageTrigger, .gi-language-article").length) {
                    $(".gi-home-setting-article").addClass("lang-panel-closed");
                }
            });

            function setActiveLanguage(lang) {
                const $targetOption = $options.filter(`[data-lang="${lang}"]`);
                const index = $options.index($targetOption);

                $options.removeClass("active");
                $targetOption.addClass("active");

                $slider.removeClass("position-0 position-1 position-2");
                $slider.addClass(`position-${index}`);

                $currentLangCode.text(langCodeMap[lang] || "KO");
            }
        }
    </script>
</body>

</html>