<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fms.common.SysFileMapper">
    <sql id="sortFilter">
        ORDER BY
        <choose>
            <when test="sort_id != null and sort_order != null">
                ${sort_id} ${sort_order}
            </when>
            <otherwise>
                sub.no ASC
            </otherwise>
        </choose>
    </sql>

    <select id="SELECT_PAGE" resultType="com.fms.common.SysFile">
        SELECT * FROM (
            SELECT
                row_number() over (ORDER BY sys_crt_dt DESC )AS no,
                
                file_uuid,
                temp_yn,
                sys_crt_dt, 
                sys_crt_usr_id, 
                sys_upd_dt, 
                sys_upd_usr_id 
            FROM SYS_FILE
            <where>
                
                <if test="file_uuid != null and file_uuid != ''">AND file_uuid = #{file_uuid}</if>
                <if test="temp_yn != null and temp_yn != ''">AND temp_yn = #{temp_yn}</if>
                <if test="sys_crt_dt != null">AND sys_crt_dt = #{sys_crt_dt}</if>
                <if test="sys_crt_usr_id != null and sys_crt_usr_id != ''">AND sys_crt_usr_id = #{sys_crt_usr_id}</if>
                <if test="sys_upd_dt != null">AND sys_upd_dt = #{sys_upd_dt}</if>
                <if test="sys_upd_usr_id != null and sys_upd_usr_id != ''">AND sys_upd_usr_id = #{sys_upd_usr_id}</if>
                
                <if test="_file_uuid != null and _file_uuid != ''">AND file_uuid LIKE CONCAT('%', #{_file_uuid}, '%')</if>
                <if test="_sys_crt_dt != null and _sys_crt_dt != ''">AND sys_crt_dt LIKE CONCAT('%', #{_sys_crt_dt}, '%')</if>
                <if test="_sys_crt_usr_id != null and _sys_crt_usr_id != ''">AND sys_crt_usr_id LIKE CONCAT('%', #{_sys_crt_usr_id}, '%')</if>
                <if test="_sys_upd_dt != null and _sys_upd_dt != ''">AND sys_upd_dt LIKE CONCAT('%', #{_sys_upd_dt}, '%')</if>
                <if test="_sys_upd_usr_id != null and _sys_upd_usr_id != ''">AND sys_upd_usr_id LIKE CONCAT('%', #{_sys_upd_usr_id}, '%')</if>
            </where>
        ) AS sub
        <include refid="sortFilter"/>
        LIMIT #{row_range} OFFSET #{offset}
    </select>

    <select id="SELECT_PAGING_TOTAL_NUMBER" resultType="int">
        SELECT CEIL(COUNT(*) / #{row_range}) FROM SYS_FILE
        <where>
            
            <if test="file_uuid != null and file_uuid != ''">AND file_uuid = #{file_uuid}</if>
            <if test="temp_yn != null and temp_yn != ''">AND temp_yn = #{temp_yn}</if>
            <if test="sys_crt_dt != null">AND sys_crt_dt = #{sys_crt_dt}</if>
            <if test="sys_crt_usr_id != null and sys_crt_usr_id != ''">AND sys_crt_usr_id = #{sys_crt_usr_id}</if>
            <if test="sys_upd_dt != null">AND sys_upd_dt = #{sys_upd_dt}</if>
            <if test="sys_upd_usr_id != null and sys_upd_usr_id != ''">AND sys_upd_usr_id = #{sys_upd_usr_id}</if>
            
            <if test="_file_uuid != null and _file_uuid != ''">AND file_uuid LIKE CONCAT('%', #{_file_uuid}, '%')</if>
            <if test="_sys_crt_dt != null and _sys_crt_dt != ''">AND sys_crt_dt LIKE CONCAT('%', #{_sys_crt_dt}, '%')</if>
            <if test="_sys_crt_usr_id != null and _sys_crt_usr_id != ''">AND sys_crt_usr_id LIKE CONCAT('%', #{_sys_crt_usr_id}, '%')</if>
            <if test="_sys_upd_dt != null and _sys_upd_dt != ''">AND sys_upd_dt LIKE CONCAT('%', #{_sys_upd_dt}, '%')</if>
            <if test="_sys_upd_usr_id != null and _sys_upd_usr_id != ''">AND sys_upd_usr_id LIKE CONCAT('%', #{_sys_upd_usr_id}, '%')</if>
        </where>
    </select>

    <select id="SYS_FILE_SELECT" resultType="com.fms.common.SysFile">
        SELECT
            
            file_uuid,
            temp_yn,
            sys_crt_dt,
            sys_crt_usr_id,
            sys_upd_dt,
            sys_upd_usr_id
        FROM SYS_FILE
        <where>
            
            <if test="file_uuid != null and file_uuid != ''">AND file_uuid = #{file_uuid}</if>
            <if test="temp_yn != null and temp_yn != ''">AND temp_yn = #{temp_yn}</if>
            <if test="sys_crt_dt != null">AND sys_crt_dt = #{sys_crt_dt}</if>
            <if test="sys_crt_usr_id != null and sys_crt_usr_id != ''">AND sys_crt_usr_id = #{sys_crt_usr_id}</if>
            <if test="sys_upd_dt != null">AND sys_upd_dt = #{sys_upd_dt}</if>
            <if test="sys_upd_usr_id != null and sys_upd_usr_id != ''">AND sys_upd_usr_id = #{sys_upd_usr_id}</if>
            
            <if test="_file_uuid != null and _file_uuid != ''">AND file_uuid LIKE CONCAT('%', #{_file_uuid}, '%')</if>
            <if test="_sys_crt_dt != null and _sys_crt_dt != ''">AND sys_crt_dt LIKE CONCAT('%', #{_sys_crt_dt}, '%')</if>
            <if test="_sys_crt_usr_id != null and _sys_crt_usr_id != ''">AND sys_crt_usr_id LIKE CONCAT('%', #{_sys_crt_usr_id}, '%')</if>
            <if test="_sys_upd_dt != null and _sys_upd_dt != ''">AND sys_upd_dt LIKE CONCAT('%', #{_sys_upd_dt}, '%')</if>
            <if test="_sys_upd_usr_id != null and _sys_upd_usr_id != ''">AND sys_upd_usr_id LIKE CONCAT('%', #{_sys_upd_usr_id}, '%')</if>
        </where>
    </select>

    <insert id="SYS_FILE_INSERT" parameterType="com.fms.common.SysFile">
        INSERT INTO SYS_FILE(
            
             file_uuid
            , temp_yn
            , sys_crt_dt 
            , sys_crt_usr_id 
            
            <if test="sys_upd_dt != null">, sys_upd_dt</if>
            <if test="sys_upd_usr_id != null">, sys_upd_usr_id</if>
        )
        VALUES(
            
             #{file_uuid}
            , #{temp_yn}
            , #{sys_crt_dt}
            , #{sys_crt_usr_id}
            
            <if test="sys_upd_dt != null">, #{sys_upd_dt}</if>
            <if test="sys_upd_usr_id != null">, #{sys_upd_usr_id}</if>
        )
    </insert>
    <insert id="SYS_FILE_DTL_INSERT" parameterType="com.fms.common.SysFileDetail">
        INSERT INTO SYS_FILE_DTL(
        file_id
        ,file_uuid
        , file_nm
        , file_sz
        , file_ext
        , file_path
        , sys_crt_dt
        , sys_crt_usr_id
 
        <if test="sys_upd_dt != null">, sys_upd_dt</if>
        <if test="sys_upd_usr_id != null">, sys_upd_usr_id</if>
        <if test="menu_cd != null">, menu_cd</if>
        )
        VALUES(
 
          #{file_id}
        , #{file_uuid}
        , #{file_nm}
        , #{file_sz}
        , #{file_ext}
        , #{file_path}
        , #{sys_crt_dt}
        , #{sys_crt_usr_id}
 
        <if test="sys_upd_dt != null">, #{sys_upd_dt}</if>
        <if test="sys_upd_usr_id != null">, #{sys_upd_usr_id}</if>
        <if test="menu_cd != null">, #{menu_cd}</if>
        )
    </insert>

    <delete id="SYS_FILE_DELETE">
        DELETE FROM SYS_FILE
        <where>
            
            AND file_uuid = #{file_uuid}
            
            <if test="temp_yn != null">AND temp_yn = #{temp_yn}</if>
            <if test="sys_crt_dt != null">AND sys_crt_dt = #{sys_crt_dt}</if>
            <if test="sys_crt_usr_id != null">AND sys_crt_usr_id = #{sys_crt_usr_id}</if>
            <if test="sys_upd_dt != null">AND sys_upd_dt = #{sys_upd_dt}</if>
            <if test="sys_upd_usr_id != null">AND sys_upd_usr_id = #{sys_upd_usr_id}</if>
        </where>
    </delete>

    <update id="UPDATE">
        UPDATE SYS_FILE
        <set>
            
            <if test="temp_yn != null and temp_yn != '' ">,temp_yn = #{temp_yn}</if>
            <if test="sys_crt_dt != null">,sys_crt_dt = #{sys_crt_dt}</if>
            <if test="sys_crt_usr_id != null and sys_crt_usr_id != '' ">,sys_crt_usr_id = #{sys_crt_usr_id}</if>
            <if test="sys_upd_dt != null">,sys_upd_dt = #{sys_upd_dt}</if>
            <if test="sys_upd_usr_id != null and sys_upd_usr_id != '' ">,sys_upd_usr_id = #{sys_upd_usr_id}</if>
        </set>
        <where>
            
            AND file_uuid = #{file_uuid}
        </where>
    </update>
</mapper>