<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fms.common.SysFileDetailMapper">
    <sql id="sortFilter">
        ORDER BY
        <choose>
            <when test="sort_id != null and sort_order != null">
                ${sort_id} ${sort_order}
            </when>
            <otherwise>
                sub.no ASC
            </otherwise>
        </choose>
    </sql>

    <select id="SELECT_PAGE" resultType="com.fms.common.SysFileDetail">
        SELECT * FROM (
            SELECT
                row_number() over (ORDER BY system_create_date DESC )AS no,
                
                file_id, 
                file_uuid, 
                file_name, 
                file_size, 
                file_extension, 
                file_path, 
                system_create_date, 
                system_create_userid, 
                system_update_date, 
                system_update_userid 
            FROM SYS_FILE_DETAIL
            <where>
                
                <if test="file_id != null and file_id != ''">AND file_id = #{file_id}</if>
                <if test="file_uuid != null and file_uuid != ''">AND file_uuid = #{file_uuid}</if>
                <if test="file_name != null and file_name != ''">AND file_name = #{file_name}</if>
                <if test="file_size != null and file_size != ''">AND file_size = #{file_size}</if>
                <if test="file_extension != null and file_extension != ''">AND file_extension = #{file_extension}</if>
                <if test="file_path != null and file_path != ''">AND file_path = #{file_path}</if>
                <if test="system_create_date != null">AND system_create_date = #{system_create_date}</if>
                <if test="system_create_userid != null and system_create_userid != ''">AND system_create_userid = #{system_create_userid}</if>
                <if test="system_update_date != null">AND system_update_date = #{system_update_date}</if>
                <if test="system_update_userid != null and system_update_userid != ''">AND system_update_userid = #{system_update_userid}</if>
                
                <if test="_file_id != null and _file_id != ''">AND file_id LIKE CONCAT('%', #{_file_id}, '%')</if>
                <if test="_file_uuid != null and _file_uuid != ''">AND file_uuid LIKE CONCAT('%', #{_file_uuid}, '%')</if>
                <if test="_file_name != null and _file_name != ''">AND file_name LIKE CONCAT('%', #{_file_name}, '%')</if>
                <if test="_file_size != null and _file_size != ''">AND file_size LIKE CONCAT('%', #{_file_size}, '%')</if>
                <if test="_file_extension != null and _file_extension != ''">AND file_extension LIKE CONCAT('%', #{_file_extension}, '%')</if>
                <if test="_file_path != null and _file_path != ''">AND file_path LIKE CONCAT('%', #{_file_path}, '%')</if>
                <if test="_system_create_date != null and _system_create_date != ''">AND system_create_date LIKE CONCAT('%', #{_system_create_date}, '%')</if>
                <if test="_system_create_userid != null and _system_create_userid != ''">AND system_create_userid LIKE CONCAT('%', #{_system_create_userid}, '%')</if>
                <if test="_system_update_date != null and _system_update_date != ''">AND system_update_date LIKE CONCAT('%', #{_system_update_date}, '%')</if>
                <if test="_system_update_userid != null and _system_update_userid != ''">AND system_update_userid LIKE CONCAT('%', #{_system_update_userid}, '%')</if>
            </where>
        ) AS sub
        <include refid="sortFilter"/>
        LIMIT #{row_range} OFFSET #{offset}
    </select>

    <select id="SELECT_PAGING_TOTAL_NUMBER" resultType="int">
        SELECT CEIL(COUNT(*) / #{row_range}) FROM SYS_FILE_DETAIL
        <where>
            
            <if test="file_id != null and file_id != ''">AND file_id = #{file_id}</if>
            <if test="file_uuid != null and file_uuid != ''">AND file_uuid = #{file_uuid}</if>
            <if test="file_name != null and file_name != ''">AND file_name = #{file_name}</if>
            <if test="file_size != null and file_size != ''">AND file_size = #{file_size}</if>
            <if test="file_extension != null and file_extension != ''">AND file_extension = #{file_extension}</if>
            <if test="file_path != null and file_path != ''">AND file_path = #{file_path}</if>
            <if test="system_create_date != null">AND system_create_date = #{system_create_date}</if>
            <if test="system_create_userid != null and system_create_userid != ''">AND system_create_userid = #{system_create_userid}</if>
            <if test="system_update_date != null">AND system_update_date = #{system_update_date}</if>
            <if test="system_update_userid != null and system_update_userid != ''">AND system_update_userid = #{system_update_userid}</if>
            
            <if test="_file_id != null and _file_id != ''">AND file_id LIKE CONCAT('%', #{_file_id}, '%')</if>
            <if test="_file_uuid != null and _file_uuid != ''">AND file_uuid LIKE CONCAT('%', #{_file_uuid}, '%')</if>
            <if test="_file_name != null and _file_name != ''">AND file_name LIKE CONCAT('%', #{_file_name}, '%')</if>
            <if test="_file_size != null and _file_size != ''">AND file_size LIKE CONCAT('%', #{_file_size}, '%')</if>
            <if test="_file_extension != null and _file_extension != ''">AND file_extension LIKE CONCAT('%', #{_file_extension}, '%')</if>
            <if test="_file_path != null and _file_path != ''">AND file_path LIKE CONCAT('%', #{_file_path}, '%')</if>
            <if test="_system_create_date != null and _system_create_date != ''">AND system_create_date LIKE CONCAT('%', #{_system_create_date}, '%')</if>
            <if test="_system_create_userid != null and _system_create_userid != ''">AND system_create_userid LIKE CONCAT('%', #{_system_create_userid}, '%')</if>
            <if test="_system_update_date != null and _system_update_date != ''">AND system_update_date LIKE CONCAT('%', #{_system_update_date}, '%')</if>
            <if test="_system_update_userid != null and _system_update_userid != ''">AND system_update_userid LIKE CONCAT('%', #{_system_update_userid}, '%')</if>
        </where>
    </select>

    <select id="SELECT" resultType="com.fms.common.SysFileDetail">
        SELECT
            
            file_id,
            file_uuid,
            file_name,
            file_size,
            file_extension,
            file_path,
            system_create_date,
            system_create_userid,
            system_update_date,
            system_update_userid
        FROM SYS_FILE_DETAIL
        <where>
            
            <if test="file_id != null and file_id != ''">AND file_id = #{file_id}</if>
            <if test="file_uuid != null and file_uuid != ''">AND file_uuid = #{file_uuid}</if>
            <if test="file_name != null and file_name != ''">AND file_name = #{file_name}</if>
            <if test="file_size != null and file_size != ''">AND file_size = #{file_size}</if>
            <if test="file_extension != null and file_extension != ''">AND file_extension = #{file_extension}</if>
            <if test="file_path != null and file_path != ''">AND file_path = #{file_path}</if>
            <if test="system_create_date != null">AND system_create_date = #{system_create_date}</if>
            <if test="system_create_userid != null and system_create_userid != ''">AND system_create_userid = #{system_create_userid}</if>
            <if test="system_update_date != null">AND system_update_date = #{system_update_date}</if>
            <if test="system_update_userid != null and system_update_userid != ''">AND system_update_userid = #{system_update_userid}</if>
            
            <if test="_file_id != null and _file_id != ''">AND file_id LIKE CONCAT('%', #{_file_id}, '%')</if>
            <if test="_file_uuid != null and _file_uuid != ''">AND file_uuid LIKE CONCAT('%', #{_file_uuid}, '%')</if>
            <if test="_file_name != null and _file_name != ''">AND file_name LIKE CONCAT('%', #{_file_name}, '%')</if>
            <if test="_file_size != null and _file_size != ''">AND file_size LIKE CONCAT('%', #{_file_size}, '%')</if>
            <if test="_file_extension != null and _file_extension != ''">AND file_extension LIKE CONCAT('%', #{_file_extension}, '%')</if>
            <if test="_file_path != null and _file_path != ''">AND file_path LIKE CONCAT('%', #{_file_path}, '%')</if>
            <if test="_system_create_date != null and _system_create_date != ''">AND system_create_date LIKE CONCAT('%', #{_system_create_date}, '%')</if>
            <if test="_system_create_userid != null and _system_create_userid != ''">AND system_create_userid LIKE CONCAT('%', #{_system_create_userid}, '%')</if>
            <if test="_system_update_date != null and _system_update_date != ''">AND system_update_date LIKE CONCAT('%', #{_system_update_date}, '%')</if>
            <if test="_system_update_userid != null and _system_update_userid != ''">AND system_update_userid LIKE CONCAT('%', #{_system_update_userid}, '%')</if>
        </where>
    </select>

    <insert id="INSERT">
        INSERT INTO SYS_FILE_DETAIL(
            
             file_id 
            , file_uuid 
            , file_name 
            , file_size 
            , file_extension 
            , file_path 
            , system_create_date 
            , system_create_userid 
            
            <if test="system_update_date != null">, system_update_date</if>
            <if test="system_update_userid != null">, system_update_userid</if>
        )
        VALUES(
            
             #{file_id}
            , #{file_uuid}
            , #{file_name}
            , #{file_size}
            , #{file_extension}
            , #{file_path}
            , #{system_create_date}
            , #{system_create_userid}
            
            <if test="system_update_date != null">, #{system_update_date}</if>
            <if test="system_update_userid != null">, #{system_update_userid}</if>
        )
    </insert>

    <delete id="DELETE">
        DELETE FROM SYS_FILE_DETAIL
        <where>
            <if test="file_id != null and file_id != ''">AND file_id = #{file_id}</if>
            AND file_uuid = #{file_uuid}
            
            <if test="file_name != null">AND file_name = #{file_name}</if>
            <if test="file_size != null">AND file_size = #{file_size}</if>
            <if test="file_extension != null">AND file_extension = #{file_extension}</if>
            <if test="file_path != null">AND file_path = #{file_path}</if>
            <if test="system_create_date != null">AND system_create_date = #{system_create_date}</if>
            <if test="system_create_userid != null">AND system_create_userid = #{system_create_userid}</if>
            <if test="system_update_date != null">AND system_update_date = #{system_update_date}</if>
            <if test="system_update_userid != null">AND system_update_userid = #{system_update_userid}</if>
        </where>
    </delete>

    <update id="UPDATE">
        UPDATE SYS_FILE_DETAIL
        <set>
            
            <if test="file_name != null and file_name != '' ">,file_name = #{file_name}</if>
            <if test="file_size != null and file_size != '' ">,file_size = #{file_size}</if>
            <if test="file_extension != null and file_extension != '' ">,file_extension = #{file_extension}</if>
            <if test="file_path != null and file_path != '' ">,file_path = #{file_path}</if>
            <if test="system_create_date != null">,system_create_date = #{system_create_date}</if>
            <if test="system_create_userid != null and system_create_userid != '' ">,system_create_userid = #{system_create_userid}</if>
            <if test="system_update_date != null">,system_update_date = #{system_update_date}</if>
            <if test="system_update_userid != null and system_update_userid != '' ">,system_update_userid = #{system_update_userid}</if>
        </set>
        <where>
            
             file_id = #{file_id}
            AND file_uuid = #{file_uuid}
        </where>
    </update>
</mapper>