<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fms.common.SysFileMapper">
    <sql id="sortFilter">
        ORDER BY
        <choose>
            <when test="sort_id != null and sort_order != null">
                ${sort_id} ${sort_order}
            </when>
            <otherwise>
                sub.no ASC
            </otherwise>
        </choose>
    </sql>

    <select id="SELECT_PAGE" resultType="com.fms.common.SysFile">
        SELECT * FROM (
            SELECT
                row_number() over (ORDER BY system_create_date DESC )AS no,
                
                file_uuid,
                temp_yn,
                system_create_date, 
                system_create_userid, 
                system_update_date, 
                system_update_userid 
            FROM SYS_FILE
            <where>
                
                <if test="file_uuid != null and file_uuid != ''">AND file_uuid = #{file_uuid}</if>
                <if test="temp_yn != null and temp_yn != ''">AND temp_yn = #{temp_yn}</if>
                <if test="system_create_date != null">AND system_create_date = #{system_create_date}</if>
                <if test="system_create_userid != null and system_create_userid != ''">AND system_create_userid = #{system_create_userid}</if>
                <if test="system_update_date != null">AND system_update_date = #{system_update_date}</if>
                <if test="system_update_userid != null and system_update_userid != ''">AND system_update_userid = #{system_update_userid}</if>
                
                <if test="_file_uuid != null and _file_uuid != ''">AND file_uuid LIKE CONCAT('%', #{_file_uuid}, '%')</if>
                <if test="_system_create_date != null and _system_create_date != ''">AND system_create_date LIKE CONCAT('%', #{_system_create_date}, '%')</if>
                <if test="_system_create_userid != null and _system_create_userid != ''">AND system_create_userid LIKE CONCAT('%', #{_system_create_userid}, '%')</if>
                <if test="_system_update_date != null and _system_update_date != ''">AND system_update_date LIKE CONCAT('%', #{_system_update_date}, '%')</if>
                <if test="_system_update_userid != null and _system_update_userid != ''">AND system_update_userid LIKE CONCAT('%', #{_system_update_userid}, '%')</if>
            </where>
        ) AS sub
        <include refid="sortFilter"/>
        LIMIT #{row_range} OFFSET #{offset}
    </select>

    <select id="SELECT_PAGING_TOTAL_NUMBER" resultType="int">
        SELECT CEIL(COUNT(*) / #{row_range}) FROM SYS_FILE
        <where>
            
            <if test="file_uuid != null and file_uuid != ''">AND file_uuid = #{file_uuid}</if>
            <if test="temp_yn != null and temp_yn != ''">AND temp_yn = #{temp_yn}</if>
            <if test="system_create_date != null">AND system_create_date = #{system_create_date}</if>
            <if test="system_create_userid != null and system_create_userid != ''">AND system_create_userid = #{system_create_userid}</if>
            <if test="system_update_date != null">AND system_update_date = #{system_update_date}</if>
            <if test="system_update_userid != null and system_update_userid != ''">AND system_update_userid = #{system_update_userid}</if>
            
            <if test="_file_uuid != null and _file_uuid != ''">AND file_uuid LIKE CONCAT('%', #{_file_uuid}, '%')</if>
            <if test="_system_create_date != null and _system_create_date != ''">AND system_create_date LIKE CONCAT('%', #{_system_create_date}, '%')</if>
            <if test="_system_create_userid != null and _system_create_userid != ''">AND system_create_userid LIKE CONCAT('%', #{_system_create_userid}, '%')</if>
            <if test="_system_update_date != null and _system_update_date != ''">AND system_update_date LIKE CONCAT('%', #{_system_update_date}, '%')</if>
            <if test="_system_update_userid != null and _system_update_userid != ''">AND system_update_userid LIKE CONCAT('%', #{_system_update_userid}, '%')</if>
        </where>
    </select>

    <select id="SYS_FILE_SELECT" resultType="com.fms.common.SysFile">
        SELECT
            
            file_uuid,
            temp_yn,
            system_create_date,
            system_create_userid,
            system_update_date,
            system_update_userid
        FROM SYS_FILE
        <where>
            
            <if test="file_uuid != null and file_uuid != ''">AND file_uuid = #{file_uuid}</if>
            <if test="temp_yn != null and temp_yn != ''">AND temp_yn = #{temp_yn}</if>
            <if test="system_create_date != null">AND system_create_date = #{system_create_date}</if>
            <if test="system_create_userid != null and system_create_userid != ''">AND system_create_userid = #{system_create_userid}</if>
            <if test="system_update_date != null">AND system_update_date = #{system_update_date}</if>
            <if test="system_update_userid != null and system_update_userid != ''">AND system_update_userid = #{system_update_userid}</if>
            
            <if test="_file_uuid != null and _file_uuid != ''">AND file_uuid LIKE CONCAT('%', #{_file_uuid}, '%')</if>
            <if test="_system_create_date != null and _system_create_date != ''">AND system_create_date LIKE CONCAT('%', #{_system_create_date}, '%')</if>
            <if test="_system_create_userid != null and _system_create_userid != ''">AND system_create_userid LIKE CONCAT('%', #{_system_create_userid}, '%')</if>
            <if test="_system_update_date != null and _system_update_date != ''">AND system_update_date LIKE CONCAT('%', #{_system_update_date}, '%')</if>
            <if test="_system_update_userid != null and _system_update_userid != ''">AND system_update_userid LIKE CONCAT('%', #{_system_update_userid}, '%')</if>
        </where>
    </select>

    <insert id="SYS_FILE_INSERT" parameterType="com.fms.common.SysFile">
        INSERT INTO SYS_FILE(
            
             file_uuid
            , temp_yn
            , system_create_date 
            , system_create_userid 
            
            <if test="system_update_date != null">, system_update_date</if>
            <if test="system_update_userid != null">, system_update_userid</if>
        )
        VALUES(
            
             #{file_uuid}
            , #{temp_yn}
            , #{system_create_date}
            , #{system_create_userid}
            
            <if test="system_update_date != null">, #{system_update_date}</if>
            <if test="system_update_userid != null">, #{system_update_userid}</if>
        )
    </insert>
    <insert id="SYS_FILE_DETAIL_INSERT" parameterType="com.fms.common.SysFileDetail">
        INSERT INTO SYS_FILE_DETAIL(
        file_id
        ,file_uuid
        , file_name
        , file_size
        , file_extension
        , file_path
        , system_create_date
        , system_create_userid
 
        <if test="system_update_date != null">, system_update_date</if>
        <if test="system_update_userid != null">, system_update_userid</if>
        <if test="menu_code != null">, menu_code</if>
        )
        VALUES(
 
          #{file_id}
        , #{file_uuid}
        , #{file_name}
        , #{file_size}
        , #{file_extension}
        , #{file_path}
        , #{system_create_date}
        , #{system_create_userid}
 
        <if test="system_update_date != null">, #{system_update_date}</if>
        <if test="system_update_userid != null">, #{system_update_userid}</if>
        <if test="menu_code != null">, #{menu_code}</if>
        )
    </insert>

    <delete id="SYS_FILE_DELETE">
        DELETE FROM SYS_FILE
        <where>
            
            AND file_uuid = #{file_uuid}
            
            <if test="temp_yn != null">AND temp_yn = #{temp_yn}</if>
            <if test="system_create_date != null">AND system_create_date = #{system_create_date}</if>
            <if test="system_create_userid != null">AND system_create_userid = #{system_create_userid}</if>
            <if test="system_update_date != null">AND system_update_date = #{system_update_date}</if>
            <if test="system_update_userid != null">AND system_update_userid = #{system_update_userid}</if>
        </where>
    </delete>

    <update id="UPDATE">
        UPDATE SYS_FILE
        <set>
            
            <if test="temp_yn != null and temp_yn != '' ">,temp_yn = #{temp_yn}</if>
            <if test="system_create_date != null">,system_create_date = #{system_create_date}</if>
            <if test="system_create_userid != null and system_create_userid != '' ">,system_create_userid = #{system_create_userid}</if>
            <if test="system_update_date != null">,system_update_date = #{system_update_date}</if>
            <if test="system_update_userid != null and system_update_userid != '' ">,system_update_userid = #{system_update_userid}</if>
        </set>
        <where>
            
            AND file_uuid = #{file_uuid}
        </where>
    </update>
</mapper>