<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.auth.token.TokenMapper">
    <resultMap id="TokenResult" type="com.system.auth.domain.Token">
        <id property="id" column="id" />
        <result property="token" column="token" />
        <result property="token_type" column="token_type" />
        <result property="revok" column="revok" />
        <result property="exp" column="exp" />
        <association property="auth_user" javaType="com.system.auth.authuser.AuthUser">
            <id property="id" column="user_id" />
            <result property="user_id" column="user_id_string" />
            <result property="email" column="email" />
        </association>
    </resultMap>

    <select id="SELECT_TOKEN" resultMap="TokenResult">
        SELECT
            T.*,
            U.user_id as user_id_string,
            U.email as email
        FROM
            SYS_TOKEN T
        LEFT JOIN SYS_USER U ON T.user_id = U.id
        WHERE T.token = #{token}
    </select>

    <select id="SELECT_ALL_TOKEN" parameterType="com.system.auth.domain.Token" resultType="com.system.auth.domain.Token">
        SELECT *
        FROM SYS_TOKEN
        WHERE user_id = #{auth_user.id}
          AND exp = #{exp}
          AND revok = #{revok}
    </select>
    <insert id="INSERT_TOKEN" parameterType="com.system.auth.domain.Token">
        INSERT INTO SYS_TOKEN(
            id,
            exp,
            revok,
            user_id,
            token,
            token_type
        )VALUES(
            #{id},
            #{exp},
            #{revok},
            #{auth_user.id},
            #{token},
            #{token_type}
        )
    </insert>
    <update id="UPDATE_TOKEN" parameterType="com.system.auth.domain.Token">
        UPDATE SYS_TOKEN
        SET exp = #{exp}, revok = #{revok}
        WHERE token = #{token}
    </update>

    <delete id="DELETE_EXP_TOKEN_BY_USER_ID" parameterType="int">
        DELETE FROM SYS_TOKEN
        WHERE user_id = #{userId} AND (exp = 1 OR revok = 1)
    </delete>
    
    <update id="REVOKE_ALL_USER_TOKENS" parameterType="int">
        UPDATE SYS_TOKEN
        SET exp = 1, revok = 1
        WHERE user_id = #{userId} AND exp = 0 AND revok = 0
    </update>
</mapper>