<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.common.eventlog.SysEventLogMapper">
    <sql id="sortFilter">
        ORDER BY
        <choose>
            <when test="sort_id != null and sort_order != null">
                ${sort_id} ${sort_order}
            </when>
            <otherwise>
                sub.no ASC
            </otherwise>
        </choose>
    </sql>

    <select id="SELECT_PAGE" resultType="com.system.common.eventlog.SysEventLog">
        SELECT * FROM (
            SELECT
                row_number() over (ORDER BY system_create_date DESC )AS no,
                
                id, 
                user_id, 
                email, 
                role, 
                action_type, 
                target_table, 
                target_id, 
                before_data, 
                after_data, 
                ip_address, 
                system_create_date 
            FROM SYS_EVENT_LOG
            <where>
                
                <if test="id != null and id != ''">AND id = #{id}</if>
                <if test="user_id != null and user_id != ''">AND user_id = #{user_id}</if>
                <if test="email != null and email != ''">AND email = #{email}</if>
                <if test="role != null and role != ''">AND role = #{role}</if>
                <if test="action_type != null and action_type != ''">AND action_type = #{action_type}</if>
                <if test="target_table != null and target_table != ''">AND target_table = #{target_table}</if>
                <if test="target_id != null and target_id != ''">AND target_id = #{target_id}</if>
                <if test="before_data != null and before_data != ''">AND before_data = #{before_data}</if>
                <if test="after_data != null and after_data != ''">AND after_data = #{after_data}</if>
                <if test="ip_address != null and ip_address != ''">AND ip_address = #{ip_address}</if>
                <if test="system_create_date != null">AND system_create_date = #{system_create_date}</if>
                
                <if test="_id != null and _id != ''">AND id LIKE CONCAT('%', #{_id}, '%')</if>
                <if test="_user_id != null and _user_id != ''">AND user_id LIKE CONCAT('%', #{_user_id}, '%')</if>
                <if test="_email != null and _email != ''">AND email LIKE CONCAT('%', #{_email}, '%')</if>
                <if test="_role != null and _role != ''">AND role LIKE CONCAT('%', #{_role}, '%')</if>
                <if test="_action_type != null and _action_type != ''">AND action_type LIKE CONCAT('%', #{_action_type}, '%')</if>
                <if test="_target_table != null and _target_table != ''">AND target_table LIKE CONCAT('%', #{_target_table}, '%')</if>
                <if test="_target_id != null and _target_id != ''">AND target_id LIKE CONCAT('%', #{_target_id}, '%')</if>
                <if test="_before_data != null and _before_data != ''">AND before_data LIKE CONCAT('%', #{_before_data}, '%')</if>
                <if test="_after_data != null and _after_data != ''">AND after_data LIKE CONCAT('%', #{_after_data}, '%')</if>
                <if test="_ip_address != null and _ip_address != ''">AND ip_address LIKE CONCAT('%', #{_ip_address}, '%')</if>
                <if test="_system_create_date != null and _system_create_date != ''">AND system_create_date LIKE CONCAT('%', #{_system_create_date}, '%')</if>

                <if test="from_date != null and from_date != '' and to_date != null and to_date != ''">
                    AND system_create_date &gt;= STR_TO_DATE(#{from_date}, '%Y%m%d')
                    AND system_create_date &lt; DATE_ADD(STR_TO_DATE(#{to_date}, '%Y%m%d'), INTERVAL 1 DAY)
                </if>

                <if test="from_date != null and from_date != '' and (to_date == null or to_date == '')">
                    AND system_create_date &gt;= STR_TO_DATE(#{from_date}, '%Y%m%d')
                    AND system_create_date &lt; DATE_ADD(STR_TO_DATE(#{from_date}, '%Y%m%d'), INTERVAL 1 DAY)
                </if>

                <if test="(from_date == null or from_date == '') and to_date != null and to_date != ''">
                    AND system_create_date &gt;= STR_TO_DATE(#{to_date}, '%Y%m%d')
                    AND system_create_date &lt; DATE_ADD(STR_TO_DATE(#{to_date}, '%Y%m%d'), INTERVAL 1 DAY)
                </if>
            </where>
        ) AS sub
        <include refid="sortFilter"/>
        LIMIT #{row_range} OFFSET #{offset}
    </select>

    <select id="SELECT_PAGING_TOTAL_NUMBER" resultType="int">
        SELECT CEIL(COUNT(*) / #{row_range}) FROM SYS_EVENT_LOG
        <where>
            
            <if test="id != null and id != ''">AND id = #{id}</if>
            <if test="user_id != null and user_id != ''">AND user_id = #{user_id}</if>
            <if test="email != null and email != ''">AND email = #{email}</if>
            <if test="role != null and role != ''">AND role = #{role}</if>
            <if test="action_type != null and action_type != ''">AND action_type = #{action_type}</if>
            <if test="target_table != null and target_table != ''">AND target_table = #{target_table}</if>
            <if test="target_id != null and target_id != ''">AND target_id = #{target_id}</if>
            <if test="before_data != null and before_data != ''">AND before_data = #{before_data}</if>
            <if test="after_data != null and after_data != ''">AND after_data = #{after_data}</if>
            <if test="ip_address != null and ip_address != ''">AND ip_address = #{ip_address}</if>
            <if test="system_create_date != null">AND system_create_date = #{system_create_date}</if>
            
            <if test="_id != null and _id != ''">AND id LIKE CONCAT('%', #{_id}, '%')</if>
            <if test="_user_id != null and _user_id != ''">AND user_id LIKE CONCAT('%', #{_user_id}, '%')</if>
            <if test="_email != null and _email != ''">AND email LIKE CONCAT('%', #{_email}, '%')</if>
            <if test="_role != null and _role != ''">AND role LIKE CONCAT('%', #{_role}, '%')</if>
            <if test="_action_type != null and _action_type != ''">AND action_type LIKE CONCAT('%', #{_action_type}, '%')</if>
            <if test="_target_table != null and _target_table != ''">AND target_table LIKE CONCAT('%', #{_target_table}, '%')</if>
            <if test="_target_id != null and _target_id != ''">AND target_id LIKE CONCAT('%', #{_target_id}, '%')</if>
            <if test="_before_data != null and _before_data != ''">AND before_data LIKE CONCAT('%', #{_before_data}, '%')</if>
            <if test="_after_data != null and _after_data != ''">AND after_data LIKE CONCAT('%', #{_after_data}, '%')</if>
            <if test="_ip_address != null and _ip_address != ''">AND ip_address LIKE CONCAT('%', #{_ip_address}, '%')</if>
            <if test="_system_create_date != null and _system_create_date != ''">AND system_create_date LIKE CONCAT('%', #{_system_create_date}, '%')</if>
            <if test="from_date != null and from_date != '' and to_date != null and to_date != ''">
                AND system_create_date &gt;= STR_TO_DATE(#{from_date}, '%Y%m%d')
                AND system_create_date &lt; DATE_ADD(STR_TO_DATE(#{to_date}, '%Y%m%d'), INTERVAL 1 DAY)
            </if>

            <if test="from_date != null and from_date != '' and (to_date == null or to_date == '')">
                AND system_create_date &gt;= STR_TO_DATE(#{from_date}, '%Y%m%d')
                AND system_create_date &lt; DATE_ADD(STR_TO_DATE(#{from_date}, '%Y%m%d'), INTERVAL 1 DAY)
            </if>

            <if test="(from_date == null or from_date == '') and to_date != null and to_date != ''">
                AND system_create_date &gt;= STR_TO_DATE(#{to_date}, '%Y%m%d')
                AND system_create_date &lt; DATE_ADD(STR_TO_DATE(#{to_date}, '%Y%m%d'), INTERVAL 1 DAY)
            </if>
        </where>
    </select>

    <select id="SELECT" resultType="com.system.common.eventlog.SysEventLog">
        SELECT
            
            id,
            user_id,
            email,
            role,
            action_type,
            target_table,
            target_id,
            before_data,
            after_data,
            ip_address,
            system_create_date
        FROM SYS_EVENT_LOG
        <where>
            
            <if test="id != null and id != ''">AND id = #{id}</if>
            <if test="user_id != null and user_id != ''">AND user_id = #{user_id}</if>
            <if test="email != null and email != ''">AND email = #{email}</if>
            <if test="role != null and role != ''">AND role = #{role}</if>
            <if test="action_type != null and action_type != ''">AND action_type = #{action_type}</if>
            <if test="target_table != null and target_table != ''">AND target_table = #{target_table}</if>
            <if test="target_id != null and target_id != ''">AND target_id = #{target_id}</if>
            <if test="before_data != null and before_data != ''">AND before_data = #{before_data}</if>
            <if test="after_data != null and after_data != ''">AND after_data = #{after_data}</if>
            <if test="ip_address != null and ip_address != ''">AND ip_address = #{ip_address}</if>
            <if test="system_create_date != null">AND system_create_date = #{system_create_date}</if>
            
            <if test="_id != null and _id != ''">AND id LIKE CONCAT('%', #{_id}, '%')</if>
            <if test="_user_id != null and _user_id != ''">AND user_id LIKE CONCAT('%', #{_user_id}, '%')</if>
            <if test="_email != null and _email != ''">AND email LIKE CONCAT('%', #{_email}, '%')</if>
            <if test="_role != null and _role != ''">AND role LIKE CONCAT('%', #{_role}, '%')</if>
            <if test="_action_type != null and _action_type != ''">AND action_type LIKE CONCAT('%', #{_action_type}, '%')</if>
            <if test="_target_table != null and _target_table != ''">AND target_table LIKE CONCAT('%', #{_target_table}, '%')</if>
            <if test="_target_id != null and _target_id != ''">AND target_id LIKE CONCAT('%', #{_target_id}, '%')</if>
            <if test="_before_data != null and _before_data != ''">AND before_data LIKE CONCAT('%', #{_before_data}, '%')</if>
            <if test="_after_data != null and _after_data != ''">AND after_data LIKE CONCAT('%', #{_after_data}, '%')</if>
            <if test="_ip_address != null and _ip_address != ''">AND ip_address LIKE CONCAT('%', #{_ip_address}, '%')</if>
            <if test="_system_create_date != null and _system_create_date != ''">AND system_create_date LIKE CONCAT('%', #{_system_create_date}, '%')</if>
        </where>
    </select>

    <insert id="INSERT">
        INSERT INTO SYS_EVENT_LOG(
            
             id 
            , user_id 
            , email 
            , role 
            , action_type 
            , target_table 
            , ip_address 
            
            <if test="target_id != null">, target_id</if>
            <if test="before_data != null">, before_data</if>
            <if test="after_data != null">, after_data</if>
            , system_create_date
        )
        VALUES(
            
             #{id}
            , #{user_id}
            , #{email}
            , #{role}
            , #{action_type}
            , #{target_table}
            , #{ip_address}
            
            <if test="target_id != null">, #{target_id}</if>
            <if test="before_data != null">, #{before_data}</if>
            <if test="after_data != null">, #{after_data}</if>
            , #{system_create_date}
        )
    </insert>

    <delete id="DELETE">
        DELETE FROM SYS_EVENT_LOG
        <where>
            
             id = #{id}
             user_id = #{user_id}
             action_type = #{action_type}
            AND system_create_date = #{system_create_date}
            
            <if test="email != null">AND email = #{email}</if>
            <if test="role != null">AND role = #{role}</if>
            <if test="target_table != null">AND target_table = #{target_table}</if>
            <if test="target_id != null">AND target_id = #{target_id}</if>
            <if test="before_data != null">AND before_data = #{before_data}</if>
            <if test="after_data != null">AND after_data = #{after_data}</if>
            <if test="ip_address != null">AND ip_address = #{ip_address}</if>
        </where>
    </delete>

    <update id="UPDATE">
        UPDATE SYS_EVENT_LOG
        <set>
            
            <if test="email != null and email != '' ">,email = #{email}</if>
            <if test="role != null and role != '' ">,role = #{role}</if>
            <if test="target_table != null and target_table != '' ">,target_table = #{target_table}</if>
            <if test="target_id != null and target_id != '' ">,target_id = #{target_id}</if>
            <if test="before_data != null and before_data != '' ">,before_data = #{before_data}</if>
            <if test="after_data != null and after_data != '' ">,after_data = #{after_data}</if>
            <if test="ip_address != null and ip_address != '' ">,ip_address = #{ip_address}</if>
        </set>
        <where>
            
             id = #{id}
             user_id = #{user_id}
             action_type = #{action_type}
            AND system_create_date = #{system_create_date}
        </where>
    </update>
</mapper>
